@import url("https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/slate/bootstrap.min.css");

body
{
	padding-top: 60px;
	padding-bottom: 0px;
}

@media (min-width: 768px)
{
	body
	{
		padding-top: 70px;
	}
}

@media (max-width: 768px)
{
	.container-body
	{
		padding-bottom: 60px;
	}
}
