<div id="dirs">
	{%- for entry in shares -%}
	<div class="grid-entry eshare" data-url="{{ entry.url }}" data-sortname="{{entry.name|lower}}">
		<div class="panel panel-default">
			<div class="panel-body grid-icon"><span class="fa fa-fw fa-hdd-o"></span></div>
			<div class="panel-footer" {% if entry.name|length > 18 %} rel="tooltip" title="{{entry.name}}"{%endif%}>{{ entry.name }}</div>
		</div>
	</div>
	{%- endfor -%}
	{%- for entry in dirs -%}
	<div class="grid-entry edir" data-url="{{ entry.url }}" data-filename="{{entry.name}}" data-sortname="{{entry.name|lower}}">
		<div class="panel panel-default">
			<div class="panel-footer" {% if entry.name|length > 18 %} rel="tooltip" title="{{entry.name}}"{%endif%}><i class="fa fa-fw fa-folder"></i> {{ entry.name }}</div>
		</div>
	</div>
	{%- endfor -%}
</div>

<div class="clearfix"></div>

<div id="files">
	{%- for entry in files -%}
	<div class="grid-entry efile" data-raw-mtype="{{entry.mtype_raw}}" data-raw-mtime="{{ entry.mtime_raw }}" data-raw-size="{{ entry.size }}" data-icon="{{entry.icon}}" {% if entry.img_preview %}data-imgpreview="{{ entry.img_preview }}" {%endif%} {% if entry.view %}data-view="{{ entry.view }}" {%endif%} data-download="{{ entry.download }}" data-mtype="{{entry.mtype}}" data-filename="{{entry.name}}" data-mtime="{{entry.mtime}}" data-size="{{entry.size|filesizeformat(binary=True)}}" data-path="{{entry.path}}" data-stat="{{ entry.stat }}" data-sortname="{{entry.name|lower}}">

		{%- if entry.img_preview -%}
		<div class="panel panel-default">
			<div class="panel-body grid-img" style="background-image: url('{{ entry.img_preview }}')"></div>
		{%- else -%}
		<div class="panel panel-default">
			<div class="panel-body grid-icon"><span class="{{ entry.icon }}"></span></div>
		{%- endif -%}
			<div class="panel-footer" {% if entry.name|length > 18 %} rel="tooltip" title="{{entry.name}}"{%endif%}>{{ entry.name }}</div>
		</div>

	</div>
	{%- endfor -%}
</div>

