<div id="dirs">
	{%- for entry in shares -%}
	<div class="grid-entry eshare" data-url="{{ buildurl(entry.burl,entry.name,'browse') }}" data-sortname="{{entry.name|lower}}">
		<div class="panel panel-default">
			<div class="panel-body grid-icon"><span class="fa fa-fw fa-hdd-o"></span></div>
			<div class="panel-footer" {% if entry.name|length > 18 %} rel="tooltip" title="{{entry.name}}"{%endif%}>{{ entry.name }}</div>
		</div>
	</div>
	{%- endfor -%}
	{%- for entry in dirs -%}
	<div class="grid-entry edir" data-url="{{ buildurl(entry.burl,entry.path,'browse') }}" data-filename="{{entry.name}}" data-sortname="{{entry.name|lower}}">
		<div class="panel panel-default">
			<div class="panel-footer" {% if entry.name|length > 18 %} rel="tooltip" title="{{entry.name}}"{%endif%}><i class="fa fa-fw fa-folder"></i> {{ entry.name }}</div>
		</div>
	</div>
	{%- endfor -%}
</div>

<div class="clearfix"></div>

<div id="files">
	{%- for entry in files -%}
	<div class="grid-entry efile" data-mtyper="{{entry.mtyper}}" data-mtimer="{{ entry.mtimer }}" data-sizer="{{ entry.size }}" data-icon="fa fa-fw fa-{{entry.icon}}" {% if entry.img %}data-img="true" {%endif%} data-mtype="{{entry.mtype}}" data-filename="{{entry.name}}" data-mtime="{{entry.mtime}}" data-size="{{entry.size|filesizeformat(binary=True)}}" data-path="{{entry.path}}" data-sortname="{{entry.name|lower}}" data-burl="{{entry.burl}}" {% if entry.view %}data-view="true"{%endif%}>

		{%- if entry.img -%}
		<div class="panel panel-default">
			<div class="panel-body grid-img" style="background-image: url('{{ buildurl(entry.burl,entry.path,'preview') }}')"></div>
		{%- else -%}
		<div class="panel panel-default">
			<div class="panel-body grid-icon"><span class="fa fa-fw fa-{{ entry.icon }}"></span></div>
		{%- endif -%}
			<div class="panel-footer" {% if entry.name|length > 18 %} rel="tooltip" title="{{entry.name}}"{%endif%}>{{ entry.name }}</div>
		</div>

	</div>
	{%- endfor -%}
</div>

