<link href='https://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
<div class="modal" id="about-m" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fas fa-fw fa-times"></i></button>
				<div class="text-center">
					<span class="fa-layers" style="color: #666; font-size: 20em">
						<i class="fas fa-university"></i>
						<span class="fa-layers-text fa-inverse" data-fa-transform="shrink-15 down-6.2 left-0.6" style="font-weight:900; color: #fff">{{config.VERSION}}</span>
						<span class="fa-layers-text fa-inverse" data-fa-transform="shrink-14 up-4 left-0.6" style="font-weight:900; font-family: Oswald; color: #fff">bargate</span>
					</span>
					<h3 style="font-size: 25px">a lightweight SMB file browser</h3>
					<p>
						Written by <a href="http://www.evad.io">David Bell</a>, 
						<a href="http://www.claytonpeters.co.uk">Clayton Peters</a> and
						<a href="http://unixnation.net">Steve Kirk</a>.
					</p>
					<a href="http://bargate.io" class="btn btn-default"><i class="fas fa-fw fa-external-link-square-alt"></i> Website</a>
					<a href="http://github.com/divad/bargate" class="btn btn-default"><i class="fab fa-fw fa-github-alt"></i> GitHub</a>
					<a href="{{ url_for('changelog') }}" class="btn btn-default"><i class="fas fa-fw fa-list-alt"></i> Changelog</a>
				</div>
			</div>
		</div>
	</div>
</div>
