{%- if config['REDIS_ENABLED'] %}
<li class="dropdown{%if active == 'bookmarks'%} active{%endif%}">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Bookmarks <b class="caret"></b></a>
	<ul class="dropdown-menu">
		<li><a href="{{ url_for('bookmarks') }}"><i class="fa fa-tags fa-fw"></i> Bookmark Manager</a></li>

		<li {% if not browse_mode or (func_name|default("none") != 'custom' and atroot) %}class="disabled"{%endif%}>
			<a href="#" {% if browse_mode and (not atroot or func_name == 'custom') %} data-toggle="modal" data-target="#add-bookmark"{%endif%}><i class="fa fa-fw fa-bookmark"></i> Bookmark this folder</a>
		</li>
		{% if user_bookmarks %}
		<li class="divider"></li>
			{% for mark in user_bookmarks %}
		<li><a href="{{ mark.url }}"><i class="fa fa-arrow-right fa-fw"></i> {{mark.name|truncate(30, True) }}</a></li>
			{% endfor %}
		{% endif %}
	</ul>
</li>
{%- endif %}
