{% extends "layout.html" %}
{% block body %}


<h3><i class="fa fa-fw fa-list-alt"></i> Bargate Changelog<h3>
<hr/>
		<h3>1.5.6</h3>
		<p><em>Released 2017-04-11</em></p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-wrench"></i> Fixed grid layout sorting</li>
		</ul>

		<h3>1.5.5</h3>
		<p><em>Released 2016-09-30</em></p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-bolt"></i> File upload progress, speed and percentages added to file uploads</li>
			<li><i class="fa fa-fw fa-bolt"></i> Updated several javascript libraries</li>
			<li><i class="fa fa-fw fa-bolt"></i> Updated Bootstrap to 3.3.7</li>
			<li><i class="fa fa-fw fa-wrench"></i> Added padding to alerts in grid icon mode</li>
		</ul>

		<h3>1.5.4</h3>
		<p><em>Released 2016-09-28</em></p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-bolt"></i> Added support for 'chunked' file uploads, enabling support for extremely large file uploads</li>
			<li><i class="fa fa-fw fa-wrench"></i> Small bug in debug output fixed</li>
		</ul>

		<h3>1.5</h3>
		<p><em>Released 2016-09-22</em></p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-bolt"></i> Added setuptools support</li>
			<li><i class="fa fa-fw fa-bolt"></i> Added LOCAL_STATIC_DIR support for serving site-specific static files</li>
			<li><i class="fa fa-fw fa-bolt"></i> Added support for a site-specific favicon served from LOCAL_STATIC_DIR</li>
			<li><i class="fa fa-fw fa-bolt"></i> Bookmarks can now link into custom (Connect to server) locations</li>
			<li><i class="fa fa-fw fa-bolt"></i> Bookmarks can now link into the top level of custom locations</li>
			<li><i class="fa fa-fw fa-bolt"></i> Bookmarks can now be renamed, and bookmark deletions include a user confirmation prompt first</li>
			<li><i class="fa fa-fw fa-bolt"></i> Added configuration checks on startup</li>
			<li><i class="fa fa-fw fa-wrench"></i> Cleanup of smb code to remove unnecessary sorting</li>
			<li><i class="fa fa-fw fa-wrench"></i> Moved checking of file click actions into templates</li>
			<li><i class="fa fa-fw fa-wrench"></i> Fixed search results on click view/download when file click behaviour is set to not prompt</li>
			<li><i class="fa fa-fw fa-wrench"></i> Added support for handling 'connection refused' errors</li>
			<li><i class="fa fa-fw fa-wrench"></i> Removed remaining Southampton specific files</li>
			<li><i class="fa fa-fw fa-wrench"></i> Fixed an error where the CSRF protection code didn't cope with POST requests to non-existing views</li>
			<li><i class="fa fa-fw fa-wrench"></i> Fixed various issues with error handling</li>
			<li><i class="fa fa-fw fa-wrench"></i> Fixed an issue where TOTP libraries were required to start bargate</li>
			<li><i class="fa fa-fw fa-wrench"></i> Fixed a bug in 'create directory' where the user was incorrectly redirected to the parent directory above</li>
		</ul>

		<h3>1.4.3</h3>
		<p>Released 2016-06-07</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-wrench"></i> FIX: Regression in 1.4.1; stat() failures in directory listings cause a critical error</li>
			<li><i class="fa fa-fw fa-wrench"></i> FIX: Regression in 1.4.1; redirects on success generating errors (Regression in fix to issue #93)</li>
		</ul>

		<h3>1.4.1</h3>
		<p>Released 2016-06-03</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-bolt"></i> New experimental search feature added (set disabled by default). <a href="https://github.com/divad/bargate/issues/87">[87]</a></li>
			<li><i class="fa fa-fw fa-wrench"></i> FIX: In the default layout a user can now change the custom server address <a href="https://github.com/divad/bargate/issues/86">[86]</a></li>
			<li><i class="fa fa-fw fa-wrench"></i> FIX: Errors are no longer generated when WebDAV clients connect to Bargate <a href="https://github.com/divad/bargate/issues/88">[88]</a> </li>
			<li><i class="fa fa-fw fa-wrench"></i> FIX: A shares.conf file is no longer required for bargate to start <a href="https://github.com/divad/bargate/issues/89">[89]</a> </li>
			<li><i class="fa fa-fw fa-wrench"></i> FIX: Redirect errors are no longer created when errors occur at the top level of functions <a href="https://github.com/divad/bargate/issues/93">[93]</a></li>
		</ul>

		<h3>1.4</h3>
		<p>Released 2016-04-03</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-wrench"></i> FIX: Internet Explorer version check is fixed </li>
			<li><i class="fa fa-fw fa-wrench"></i> FIX: Corrected an error message spelling mistake </li>
			<li><i class="fa fa-fw fa-bolt"></i> Removed login image random functionality - replaced by Jinja filters </li>
			<li><i class="fa fa-fw fa-bolt"></i> Added URLs to the bookmark manager to identify what the bookmarks are </li>
		</ul>

		<h3>1.4 Beta 4</h3>
		<p>Released 2016-03-30</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-wrench"></i> FIX: Cannot click on items in Firefox <a href="https://github.com/divad/bargate/issues/84">[84]</a></li>
			<li><i class="fa fa-fw fa-wrench"></i> FIX: File preview popup now correctly hides the image on non-previewable files <a href="https://github.com/divad/bargate/issues/85">[85]</a></li>
			<li><i class="fa fa-fw fa-wrench"></i> FIX: Grid layout file 'view' now working correctly</li>
			<li><i class="fa fa-fw fa-wrench"></i> FIX: File details error message hidden by default</li>
			<li><i class="fa fa-fw fa-wrench"></i> FIX: Modals on mobile now appear at the top of the screen</li>
			<li><i class="fa fa-fw fa-wrench"></i> FIX: Mobile view on file click only shows icons rather than text that does not fit the screen</li>
		</ul>

		<h3>1.4 Beta 3</h3>
		<p>Released 2016-03-30</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-bolt"></i> View properties is now provided by a pop-up modal</li>
			<li><i class="fa fa-fw fa-bolt"></i> Cleanup/re-write of the core smb functions, fixing many unicode and path quoting issues</li>
			<li><i class="fa fa-fw fa-wrench"></i> FIX: Custom connections (Connect to server) are now working again</li>
			<li><i class="fa fa-fw fa-wrench"></i> FIX: Context menu right click icons now trigger actions correctly</li>
		</ul>

		<h3>1.4 Beta 2</h3>
		<p>Released 2016-03-28</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-bolt"></i> Grid layout is now responsive based on page width <a href="https://github.com/divad/bargate/issues/77">[77]</a></li>
			<li><i class="fa fa-fw fa-bolt"></i> The 'bargate' menu moved to the top navbar on mobile <a href="https://github.com/divad/bargate/issues/76">[76]</a></li>
			<li><i class="fa fa-fw fa-bolt"></i> URLs now include the action without using ?variable= syntax <a href="https://github.com/divad/bargate/issues/78">[78]</a></li>
			<li><i class="fa fa-fw fa-bolt"></i> Left clicking on files now lets users easily see all available actions <a href="https://github.com/divad/bargate/issues/79">[79]</a></li>
			<li><i class="fa fa-fw fa-bolt"></i> Modal close buttons are now more visible (larger) <a href="https://github.com/divad/bargate/issues/80">[80]</a></li>
			<li><i class="fa fa-fw fa-bolt"></i> The file delete modal now includes a warning icon <a href="https://github.com/divad/bargate/issues/81">[81]</a></li>

			<li><i class="fa fa-fw fa-wrench"></i> FIX: Directory sort now present on mobile view <a href="https://github.com/divad/bargate/issues/75">[75]</a></li>
			<li><i class="fa fa-fw fa-wrench"></i> FIX: URLs generated by bargate will no longer always end with a forward slash </li>
			<li><i class="fa fa-fw fa-wrench"></i> FIX: Missing leading forward slashes on urls in share configs are dealt with automatically </li>
		</ul>

		<h3>1.4 Beta 1</h3>
		<p>Released 2016-03-28</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-bolt"></i> New default 'grid' layout <a href="https://github.com/divad/bargate/issues/30">[30]</a></li>
			<li><i class="fa fa-fw fa-bolt"></i> Revamped 'list' view layout with much better sorting</li>
			<li><i class="fa fa-fw fa-bolt"></i> Added sveral more Bootswatch themes</li>
			<li><i class="fa fa-fw fa-bolt"></i> Significant code cleanup and rewrite <a href="https://github.com/divad/bargate/issues/63">[63]</a> <a href="https://github.com/divad/bargate/issues/65">[65]</a> <a href="https://github.com/divad/bargate/issues/67">[67]</a> <a href="https://github.com/divad/bargate/issues/68">[68]</a> <a href="https://github.com/divad/bargate/issues/69">[69]</a> <a href="https://github.com/divad/bargate/issues/55">[55]</a></li>
			<li><i class="fa fa-fw fa-bolt"></i> Removed all University of Southampton specific code <a href="https://github.com/divad/bargate/issues/61">[61]</a></li>
			<li><i class="fa fa-fw fa-bolt"></i> Added several more templates to allow local-site customisation</li>
			<li><i class="fa fa-fw fa-bolt"></i> Added more config options to disable features <a href="https://github.com/divad/bargate/issues/72">[72]</a> <a href="https://github.com/divad/bargate/issues/54">[54]</a></li>

			<li><i class="fa fa-fw fa-wrench"></i> FIX: Body padding (header and footer) changed to match the theme in use</li>
			<li><i class="fa fa-fw fa-wrench"></i> FIX: Footer padding fixed on mobile</li>
			<li><i class="fa fa-fw fa-wrench"></i> FIX: Removed forced dependencies on kerberos and ldap when not in use</li>
			<li><i class="fa fa-fw fa-wrench"></i> FIX: Closing the file upload dialog no longer automatically reloads even when files are not uploaded</li>
			<li><i class="fa fa-fw fa-wrench"></i> FIX: Many other small bug fixes and cleanups</li>
		</ul>

		<h3>1.3.4</h3>
		<p>Released 2016-03-23</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-wrench"></i> Fixed unicode decode errors on uploads and mkdir where non-ASCII characters were present in the directory name <a href="https://github.com/divad/bargate/issues/70">[70]</a>
			</li>
			<li><i class="fa fa-fw fa-wrench"></i> Fixed an identation error causing WB lookups to fail <a href="https://github.com/divad/bargate/issues/71">[71]</a>
			</li>
		</ul>

		<h3>1.3.3</h3>
		<p>Released 2016-03-18</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-wrench"></i> 
				Fixed a flaw in image previewing <a href="https://github.com/divad/bargate/issues/62">[62]</a>
			</li>
			<li><i class="fa fa-fw fa-wrench"></i> 
				Fixed an error in changing the URL to point directly to a file <a href="https://github.com/divad/bargate/issues/66">[66]</a>
			</li>
			<li><i class="fa fa-fw fa-wrench"></i> 
				Fixed image previews to not auto-generate etags <a href="https://github.com/divad/bargate/issues/57">[57]</a>
			</li>
		</ul>


		<h3>1.3.2</h3>
		<p>Released 2016-02-22</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-wrench"></i> 
				Fixed a flaw in overwriting file uploads where the file size was not truncated <a href="https://github.com/divad/bargate/issues/59">[59]</a>
			</li>
			<li><i class="fa fa-fw fa-wrench"></i> 
				Fixed a flaw in json file uploads where html escaping broke the current path name <a href="https://github.com/divad/bargate/issues/60">[60]</a>
			</li>
			<li><i class="fa fa-fw fa-wrench"></i> 
				Changed Flask defaults so that when viewing or download files the cache is always set to 0
			</li>
			<li><i class="fa fa-fw fa-bolt"></i> 
				Added the filename to the delete confirm dialog so users know what file they are confirming to delete <a href="https://github.com/divad/bargate/issues/58">[58]</a>
			</li>
		</ul>


		<h3>1.3.1</h3>
		<p>Released 2015-09-25</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-bolt"></i> 
				Fixed unicode errors caused by an update to the underlying pysmbc library
			</li>
		</ul>

		<h3>1.3</h3>
		<p>Released 2015-09-18</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-bolt"></i> 
				Added 'SMB' authentication type
			</li>
			<li><i class="fa fa-fw fa-bolt"></i> 
				Added 'REMEMBER_ME_ENABLED' config option to disable long-lived cookie sessions
			</li>
		</ul>

		<h3>1.2</h3>
		<p>Released 2015-09-18</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-wrench"></i> 
				Updated to latest bootstrap and font awesome
			</li>
			<li><i class="fa fa-fw fa-bolt"></i> 
				Added two step logons (TOTP)
			</li>
			<li><i class="fa fa-fw fa-bolt"></i> 
				Fixed a few minor bugs
			</li>
		</ul>

		<h3>1.1</h3>
		<p>Released 2015-05-14</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-wrench"></i> 
				Consolidated odd ~1.0 release numbers
			</li>
			<li><i class="fa fa-fw fa-wrench"></i> 
				Fixed logging configuration options
			</li>
			<li><i class="fa fa-fw fa-bolt"></i> 
				Added LDAP authentication and deprecated Kerberos
			</li>
			<li><i class="fa fa-fw fa-bolt"></i> 
				Bootstrap updates to latest minior release
			</li>
			<li><i class="fa fa-fw fa-bolt"></i> 
				LDAP home directory support added
			</li>
			<li><i class="fa fa-fw fa-wrench"></i> 
				Changed remember me link to a hover rather than click on logon
			</li>
		</ul>

		<h3>0.13.2 / 1.0 Beta 7</h3>
		<p>Released 2014-10-21</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-bolt"></i> 
				Added paper theme (new default)
			</li>
			<li><i class="fa fa-fw fa-bolt"></i> 
				Updated to Bootstrap 3.3
			</li>
			<li><i class="fa fa-fw fa-wrench"></i> 
				Fixed font sizes on about page
			</li>
		</ul>

		<h3>0.13.1 / 1.0 Beta 6</h3>
		<p>Released 2014-10-21</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-bolt"></i> 
				Added sandstone theme
			</li>
		</ul>

		<h3>0.13 / 1.0 Beta 5</h3>
		<p>Released 2014-10-19</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-bolt"></i> 
				Updated to latest FontAwesome and Bootstrap versions
			</li>
		</ul>

		<h3>0.13 / 1.0 Beta 4</h3>
		<p>Released 2014-10-19</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-wrench"></i> 
				Uploads now refresh page after completion which fixes <a href="https://github.com/divad/bargate/issues/32">issue 32</a>
			</li>
			<li><i class="fa fa-fw fa-wrench"></i> 
				Uploads now spin the upload icon if the dialog is closed mid-upload.
			</li>
		</ul>

		<h3>0.12.6 / 1.0 Beta 1</h3>
		<p>Released 2014-05-15</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-wrench"></i> 
				Added bookmarks toolbar menu for easy bookmark usage as requested in <a href="https://github.com/divad/bargate/issues/24">Issue 24</a>
			</li>
			<li><i class="fa fa-fw fa-wrench"></i> 
				Added bookmark checking on creation
			</li>
			<li><i class="fa fa-fw fa-wrench"></i> 
				Icon colour fix on file views
			</li>
			<li><i class="fa fa-fw fa-wrench"></i> 
				Added upload cancel button
			</li>
		</ul>
		
		<h3>0.12.5</h3>
		<p>Released 2014-05-15</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-bolt"></i> 
				Updated to Font Awesome 4.1: <a href="https://github.com/divad/bargate/issues/25">Issue 25</a>
			</li>
		</ul>

		<h3>0.12.4</h3>
		<p>Released 2014-05-10</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-bolt"></i> 
				Bargate now has an image preview on file click popups which closes <a href="https://github.com/divad/bargate/issues/21">Issue 21</a>
			</li>
		</ul>
		
		<h3>0.12.3</h3>
		<p>Released 2014-05-10</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-bolt"></i> 
				Bargate has an all-new icon theme for files, improving icons especially for common office formats - fixes <a href="https://github.com/divad/bargate/issues/6">Issue 6</a>
			</li>
		</ul>

		<h3>0.12.2</h3>
		<p>Released 2014-05-02</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-bolt"></i> Upload drag/drop now pops up a modal window to tell users they can drag and drop files</li>
			<li><i class="fa fa-fw fa-wrench"></i> Fixed a small spelling mistake</li>
		</ul>

		<h3>0.12.1</h3>
		<p>Released 2014-04-30</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-wrench"></i> Added failure handling to the jquery file upload system for when the server responds with a HTTP error</li>
		</ul>

		<h3>0.12</h3>
		<p>Released 2014-04-29</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-bolt"></i> 
				Bargate now supports drag and drop upload within any directory as requested in <a href="https://github.com/divad/bargate/issues/9">Issue 9</a>
			</li>
			<li><i class="fa fa-fw fa-bolt"></i>
				Bargate now shows progress during uploads, multi-file upload at once, upload errors on page, chunked and resumable file uploads.
			</li>
			<li><i class="fa fa-fw fa-bolt"></i>
				Bargate now features a generic account settings page, with several new user settings including Theme, Theme Navbar, Hidden Files, on file click and file upload overwriting.
			</li>
			<li><i class="fa fa-fw fa-bolt"></i>
				Show/hide hidden files moved into 'Account Settings'
			</li>
			<li><i class="fa fa-fw fa-bolt"></i>
				Newly redesigned 'other drives' page which has a column view and removes the unnecessary tables
			</li>
			<li><i class="fa fa-fw fa-bolt"></i>
				Page titles are now slightly larger
			</li>
			<li><i class="fa fa-fw fa-wrench"></i>
				Pop up dialog boxes now all feature the same order for buttons (cancel/do-action)
			</li>
			<li><i class="fa fa-fw fa-bolt"></i>
				Added more themes, including dark background themes
			</li>
			<li><i class="fa fa-fw fa-bolt"></i>
				Changed navbar buttons to the same colour to better work with multiple themes
			</li>
		</ul>	

		<h3>0.11.7</h3>
		<p>Released 2014-04-28</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-wrench"></i> Major update to path/name validation functions within the bargate smb module as reported in <a href="https://github.com/divad/bargate/issues/19">Issue 19</a></li>
			<li><i class="fa fa-fw fa-wrench"></i> Small fix to the core app request startup as reported in <a href="https://github.com/divad/bargate/issues/20">Issue 20</a></li>
		</ul>
	
		<h3>0.11.6</h3>
		<p>Released 2014-04-27</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-wrench"></i> XSS Security Fix</li>
		</ul>

		<h3>0.11.5</h3>
		<p>Released 2014-04-22</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-wrench"></i> Fixed a small bug with IE8 javascript support reported in <a href="https://github.com/divad/bargate/issues/18">Issue 18</a></li>
			<li><i class="fa fa-fw fa-wrench"></i> Fixed the reloading URL issue described in <a href="https://github.com/divad/bargate/issues/17">Issue 17</a></li>
			<li><i class="fa fa-fw fa-bolt"></i> Implemented basic bookmark support as requested in <a href="https://github.com/divad/bargate/issues/10">Issue 10</a></li>
			<li><i class="fa fa-fw fa-bolt"></i> Implemented some basic user logging - last login, logout and page access data is now kept</li>
			<li><i class="fa fa-fw fa-wrench"></i> Fixed a small issue in before_request where logging in skipped the rest of the function</li>
			<li><i class="fa fa-fw fa-wrench"></i> Added support for HEAD requests on default view to cope with search engine requests</li>
		</ul>

		<h3>0.11.4</h3>
		<p>Released 2014-04-19</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-wrench"></i> Fixed a small regression introduced in 0.11.2 where the current theme wasn't selected</li>
			<li><i class="fa fa-fw fa-wrench"></i> Removed hover highlight which looks odd on some themes and breaks on others</li>
		</ul>

		<h3>0.11.3</h3>
		<p>Released 2014-04-19</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-wrench"></i> Bug fix with overflow hidden regression causing dropdowns to not work</li>
			<li><i class="fa fa-fw fa-bolt"></i> Hidden files setting now stored on server - user preference respected across devices</li>
		</ul>

		<h3>0.11.2</h3>
		<p>Released 2014-04-19</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-bolt"></i> Implemented redis to provide server-side user preferences to support <a href="https://github.com/divad/bargate/issues/12">Issue 12</a></li>
			<li><i class="fa fa-fw fa-bolt"></i> Implemented user theme choice via redis - user theme is now maintained when a user switches devices</li>
		</ul>

		<h3>0.11.1</h3>
		<p>Released 2014-04-19</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-bolt"></i> New login page which restores random backgrounds</li>
			<li><i class="fa fa-fw fa-bolt"></i> Full IE8 support - See <a href="https://github.com/divad/bargate/issues/15">Issue 15</a></li>
			<li><i class="fa fa-fw fa-bolt"></i> Tidied login functions and removed all 'hero' references - See <a href="https://github.com/divad/bargate/issues/16">Issue 16</a></li>
			<li><i class="fa fa-fw fa-bolt"></i> Tidied code, broke views.py out for readability and removed all archived code and images</li>
			<li><i class="fa fa-fw fa-wrench"></i> Fixed small bug in downtime alert popup</li>
			<li><i class="fa fa-fw fa-wrench"></i> Fixed small bug in hover rows on directory entries with text overflow</li>
		</ul>

		<h3>0.11</h3>
		<p>Released 2014-04-19</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-bolt"></i> New login page - see <a href="https://github.com/divad/bargate/issues/7">Issue 7</a></li>
			<li><i class="fa fa-fw fa-bolt"></i> No Javscript support is now detected and dealt with - see <a href="https://github.com/divad/bargate/issues/5">Issue 5</a></li>
			<li><i class="fa fa-fw fa-bolt"></i> Responsive proxy introduced for proper IE8 support, however its disabled at this time - see <a href="https://github.com/divad/bargate/issues/14">Issue 14</a></li>
		</ul>

		<h3>0.10.9</h3>
		<p>Released 2014-04-16</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-wrench"></i> Implemented <a href="https://github.com/divad/bargate/issues/8">Issue 8</a>: Better error reporting</li>
			<li><i class="fa fa-fw fa-wrench"></i> Significant re-write of internal error handling</li>
			<li><i class="fa fa-fw fa-wrench"></i> Tidied the AES encryption/decryption code</li>
		</ul>
		
		<h3>0.10.8</h3>
		<p>Released 2014-04-16</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-wrench"></i> Fix for <a href="https://github.com/divad/bargate/issues/3">Issue 3</a>: Download button sometimes views in browser instead</li>
			<li><i class="fa fa-fw fa-wrench"></i> Adjusted modal placement via height media queries</li>
		</ul>
	
		<h3>0.10.7</h3>
		<p>Released 2014-04-16</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-wrench"></i> Fix for <a href="https://github.com/divad/bargate/issues/4">Issue 4</a>: Parent folder entries no longer get sorted</li>
			<li><i class="fa fa-fw fa-wrench"></i> Fix for <a href="https://github.com/divad/bargate/issues/1">Issue 1</a>: Long filenames overflow in alert popups</li>
			<li><i class="fa fa-fw fa-bolt"></i> Added report a bug link under help menu</li>
			<li><i class="fa fa-fw fa-bolt"></i> Changed 'cancel' to 'close' on file directory link popups</li>
		</ul>
	
		<h3>0.10.6</h3>
		<p>Released 2014-04-15</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-wrench"></i> Redirect put in place to tell Internet Explorer users older than Version 9 they need to upgrade.</li>
			<li><i class="fa fa-fw fa-wrench"></i> Added generic browser upgrade tool from browser-upgrade.org</li>
		</ul>

		<h3>0.10.5</h3>
		<p>Released 2014-04-14</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-bolt"></i> jQuery now used for all cog button modal triggers which lessens code size</li>
			<li><i class="fa fa-fw fa-bolt"></i> Modals now automatically trigger focus on the input boxes within them</li>
			<li><i class="fa fa-fw fa-bolt"></i> Re-write of 'other' servers to use proper view functions and rowclick table functionality</li>
			<li><i class="fa fa-fw fa-bolt"></i> Cleanup of hidden MIME function, removal of old/invalid 'other' server links</li>
			<li><i class="fa fa-fw fa-wrench"></i> Prevent users from 'view'ing (Properties) stuff other than files</li>
			<li><i class="fa fa-fw fa-wrench"></i> Cleanup of HTML and some small smb.py code cleanup</li>
		</ul>

		<h3>0.10.4</h3>
		<p>Released 2014-04-14</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-wrench"></i> Fixed a performance regression on directory listings within the mimetype module.</li>
			<li><i class="fa fa-fw fa-wrench"></i> Tidied up some code in smb.py</li>
		</ul>

		<h3>0.10.3</h3>
		<p>Released 2014-04-14</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-wrench"></i> Reduced code size for directory entries by using text overflow correctly</li>
			<li><i class="fa fa-fw fa-wrench"></i> Reduced code size for directory entries by using javascript functions to trigger modals</li>
			<li><i class="fa fa-fw fa-wrench"></i> Reduced code size in HTML templates all over the place</li>
		</ul>

		<h3>0.10.2</h3>
		<p>Released 2014-04-14</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-wrench"></i> Fixed a unicode/urllib bug on directory entries</li>
		</ul>
	
		<h3>0.10.1</h3>
		<p>Released 2014-04-13</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-wrench"></i> Fixed a bug in the permission denied password checking code</li>
			<li><i class="fa fa-fw fa-bolt"></i> Added "other" item to directory views for illustrative purposes only</li>
			<li><i class="fa fa-fw fa-bolt"></i> Clicking yes in a delete modal popup will now change to 'Deleting' to indicate feedback</li>
			<li><i class="fa fa-fw fa-wrench"></i> Fixed the display name on file properties/view</li>
		</ul>
	
		<h3>0.10</h3>
		<p>Released 2014-04-13</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-bolt"></i> New code branch. Significant user interface re-write</li>
			<li><i class="fa fa-fw fabolt"></i> Sidebar removed, much better mobile view. Interface menus moved to navbars.</li>
			<li><i class="fa fa-fw fa-bolt"></i> User interface re-written in Bootstrap 3.1 (was Bootstrap 2.3)</li>
			<li><i class="fa fa-fw fa-bolt"></i> Icon library updated to Font Awesome 4.0</li>
			<li><i class="fa fa-fw fa-bolt"></i> Significantly better MIME to Icon support</li>
			<li><i class="fa fa-fw fa-bolt"></i> Added support for displaying file owner and group metadata (via winbind)</li>
			<li><i class="fa fa-fw fa-bolt"></i> Added theme support - user can choose a web design theme to use</li>
			<li><i class="fa fa-fw fa-bolt"></i> When users click on files they now see a popup with some info a link to download the file rather than just downloading the file</li>
			<li><i class="fa fa-fw fa-bolt"></i> Added proper table sorter functionality</li>
			<li><i class="fa fa-fw fa-bolt"></i> render_page function added which builds all default URLs for all pages</li>
			<li><i class="fa fa-fw fa-bolt"></i> Each area of FWA now has a 'display name' so that the breadcrumb displays where you are rather than 'Home'</li>
			<li><i class="fa fa-fw fa-bolt"></i> Replaced popover menus on files/dirs with dropdown/dropup menus</li>
			<li><i class="fa fa-fw fa-wrench"></i> All javascript and CSS moved out to seperate files</li>
			<li><i class="fa fa-fw fa-wrench"></i> Major cleanup of HTML, CSS and Javascript to reduce clutter and remove old code</li>
			<li><i class="fa fa-fw fa-wrench"></i> SMB engine now prevents users from viewing the root directory</li>
			<li><i class="fa fa-fw fa-wrench"></i> Permission denied errors where password is wrong now asks the user to logon again</li>
		</ul>

		<h3>0.9.9</h3>
		<p>Released 2013-10-08</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-wrench"></i> Fixed error where popup menus where conflicting with table rows</li>
			<li><i class="fa fa-fw fa-wrench"></i> Complete re-write of unicode and URL handling to fix multiple bugs</li>
		</ul>

		<h3>0.9.8</h3>
		<p>Released 2013-09-20</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-bolt"></i> Introduced all-new dropdown menu mobile view making FWA significantly easier to use on mobile phones</li>
			<li><i class="fa fa-fw fa-bolt"></i> Modified date now listed inside directories</li>
			<li><i class="fa fa-fw fa-wrench"></i> Fixed tablet (iPad mostly) portrait view mode - sidebar width improved</li>
			<li><i class="fa fa-fw fa-wrench"></i> Fixed error with directory entries containing &#37;20</li>
			<li><i class="fa fa-fw fa-wrench"></i> Fixed bug where row clicks activated when clicking popup menus</li>
		</ul>

		<h3>0.9.7</h3>
		<p>Released 2013-08-13</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-wrench"></i> Fixed spacing on popup menu on directory entries</li>
			<li><i class="fa fa-fw fa-bolt"></i> Changed default click behaviour on directory entries to download rather than view properties</li>
			<li><i class="fa fa-fw fa-bolt"></i> Directory entry rows are now clickable, where as before only the text was clickable</li>
		</ul>

		<h3>0.9.6</h3>
		<p>Released 2013-05-07</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-wrench"></i> Fixed login template so that placeholders aren't used - this was confusing logins on IE8 and iPad</li>
			<li><i class="fa fa-fw fa-wrench"></i> Added extensive logging to track failures</li>
			<li><i class="fa fa-fw fa-wrench"></i> Permission denied errors when browsing into directories no longer generate full-page errors</li>
		</ul>

		<h3>0.9.5</h3>
		<p>Released 2013-05-06</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-wrench"></i> Fixed a bug in the sidebar for custom/other which prevented navigation</li>
			<li><i class="fa fa-fw fa-wrench"></i> Fixed a bug in the CSRF protection code which produced a nonsensical error</li>
			<li><i class="fa fa-fw fa-lock"></i> Security fix - path checking code now prevents users from navigating to erroneous paths</li>
			<li><i class="fa fa-fw fa-wrench"></i> Added logging for various fwa actions</li>
			<li><i class="fa fa-fw fa-bolt"></i> Improved error reporting e-mails to include various important extra details</li>
		</ul>

		<h3>0.9.4</h3>
		<p>Released 2013-04-10</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-bolt"></i> Full support for custom servers added</li>
			<li><i class="fa fa-fw fa-bolt"></i> Full support for shared filestore added</li>
			<li><i class="fa fa-fw fa-wrench"></i> Fixed several bugs</li>
			<li><i class="fa fa-fw fa-wrench"></i> Less space wasted on mobile view</li>
		</ul>

		<h3>0.9.1</h3>
		<p>Released 2013-03-05</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-bolt"></i>  Files can now be copied</li>
			<li><i class="fa fa-fw fa-bolt"></i>  Added experimental support for custom servers</li>
			<li><i class="fa fa-fw fa-bolt"></i>  Added experimental support for shared filestore</li>
			<li><i class="fa fa-fw fa-wrench"></i>  Fixed several bugs in the browse handler</li>
		</ul>

		<h3>0.9</h3>
		<p>Released 2013-03-03</p>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-bolt"></i>  Most errors now produce modal error dialogs rather than hard error pages</li>
			<li><i class="fa fa-fw fa-wrench"></i>  Fixed several bugs in the download file handler</li>
			<li><i class="fa fa-fw fa-wrench"></i>  Login background is hidden on small screens</li>
			<li><i class="fa fa-fw fa-wrench"></i>  Lack of padding/header on signin screen now fixed</li>
			<li><i class="fa fa-fw fa-wrench"></i>  Fixed bug where on mobile most pages had no padding around borders</li>
		</ul>

		<h3>0.8.9</h3>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-bolt"></i>  Mobile borders/padding removed so directory entries fill the mobile screen</li>
		</ul>

		<h3>0.8.8</h3>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-bolt"></i>  Updated to Bootstrap 2.3.1</li>
			<li><i class="fa fa-fw fa-bolt"></i>  Updated to Font Awesome 3.0.1</li>
			<li><i class="fa fa-fw fa-bolt"></i>  Added new simple sign in page, styled to branding</li>
		</ul>

		<h3>0.8.7</h3>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-bolt"></i>  Directories can now be deleted</li>
			<li><i class="fa fa-fw fa-wrench"></i>  Internal smb code refactored to determine entry types via st_mode</li>
			<li><i class="fa fa-fw fa-wrench"></i>  File uploads now detect if the target, when overwriting, is a directory</li>
		</ul>

		<h3>0.8.6</h3>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-bolt"></i>  Directories can now be renamed</li>
		</ul>		

		<h3>0.8.5</h3>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-bolt"></i>  Blank favicon added</li>
			<li><i class="fa fa-fw fa-bolt"></i>  Pop-up menu for directories added (but rename/delete dir does not yet work)</li>
			<li><i class="fa fa-fw fa-bolt"></i>  Logins restricted to iSolutions staff only</li>
		</ul>

		<h3>0.8.4</h3>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-bolt"></i>  Re-written top navigation bar, removes most items on mobile/tablet</li>
			<li><i class="fa fa-fw fa-bolt"></i>  Introduced return-to redirect upon login functionality</li>
			<li><i class="fa fa-fw fa-wrench"></i>  Totally re-written javascript popover implementation fixes interaction bug with dialog popups</li>
			<li><i class="fa fa-fw fa-wrench"></i>  The rename pop up sets the value as the current filename rather than just a placeholder</li>
			<li><i class="fa fa-fw fa-bolt"></i>  File uploads now allow spaces in filenames</li>
		</ul>

		<h3>0.8.3</h3>
		<ul class="changelog">
			<li><i class="fa fa-fw fa-wrench"></i>  Changed 'cifsbridge' to 'bargate' in python code</li>
		</ul>

{% endblock %}
