{% extends "layout.html" %}
{% block body %}

<h2><i class="fa fa-hdd-o"></i> Connect to server</h2>
<hr/>
<p>You can use this to connect to file servers available on the network. The computers you connect to must be part of the {{config['SMB_WORKGROUP']}} domain/workgroup.</p>
<form action="{{ url_for('custom') }}" method="POST">
	<input name="_csrfp_token" type="hidden" value="{{ csrfp_token() }}"/>
	<fieldset>
		<label>Server URL</label>
		<input type="text" class="form-control" name="open_server_uri" value="smb://">
		<span class="help-block">e.g. smb://fileserver.address/share/</span>
		<button type="submit" class="btn btn-default">Connect</button>
	</fieldset>
</form>

{% endblock %}
