{%- extends "layout.html" -%}
{%- block body -%}
{%- include 'directory-modals.html' -%}
{%- include 'directory-menus.html' -%}
{%- include 'breadcrumbs.html' -%}

<div id="dirs">
	{%- for entry in dirs -%}
	<div class="entry entry-click entry-dir entry-open" data-url="{{ entry.open }}" data-filename="{{entry.name}}" data-path="{{entry.path}}">
		<div class="panel panel-default">
			<div class="panel-footer" {% if entry.name|length > 18 %} rel="tooltip" title="{{entry.name}}"{%endif%}><i class="{{entry.icon}}"></i> {{ entry.name }}</div>
		</div>
	</div>
	{%- endfor -%}
</div>

<div class="clearfix"></div>

<div id="files">
	{%- for entry in files -%}
	{%- if on_file_click == 'ask' -%}
	<div class="entry entry-click entry-file entry-preview" data-raw-mtype="{{entry.mtype_raw}}" data-raw-mtime="{{ entry.mtime_raw }}" data-raw-size="{{ entry.size }}" data-icon="{{entry.icon}}" {% if entry.img_preview %}data-imgpreview="{{ entry.img_preview }}" {%endif%} {% if entry.view %}data-view="{{ entry.view }}" {%endif%} data-download="{{ entry.download }}" data-mtype="{{entry.mtype}}" data-filename="{{entry.name}}" data-mtime="{{entry.mtime}}" data-size="{{entry.size|filesizeformat(binary=True)}}" data-path="{{entry.path}}" data-url="{{ entry.open}}" data-stat="{{ entry.stat }}">
	{%- else %}
	<div class="entry entry-click entry-file entry-open" data-raw-mtype="{{entry.mtype_raw}}" data-raw-mtime="{{ entry.mtime_raw }}" data-raw-size="{{ entry.size }}" data-url="{% if on_file_click == 'download' %} {{entry.download}} {% else %} {{entry.open}} {%endif%}" data-filename="{{entry.name}}" data-path="{{entry.path}}" data-download="{{ entry.download }}" data-stat="{{ entry.stat }}">
	{%- endif %}

		{%- if entry.img_preview -%}
		<div class="panel panel-default">
			<div class="panel-body panel-img" style="background-image: url('{{ entry.img_preview }}')"></div>
		{%- else -%}
		<div class="panel panel-default">
			<div class="panel-body panel-icon"><span class="{{ entry.icon }}"></span></div>
		{%- endif -%}
			<div class="panel-footer" {% if entry.name|length > 18 %} rel="tooltip" title="{{entry.name}}"{%endif%}>{{ entry.name }}</div>
		</div>

	</div>
	{%- endfor -%}
</div>

{%- if no_items -%}
<p>
<div class="alert alert-warning">There are no items in this directory</div>
</p>
{%- endif -%}

{% endblock %}
