{#- ADD BOOKMARK  #}
<div class="modal" id="add-bookmark" tabindex='-1'>
	<div class="modal-dialog">
		<div class="modal-content">
			<form action="{{ url_bookmark }}" method="POST" enctype="multipart/form-data" autocomplete="off">
				<input name="_csrfp_token" type="hidden" value="{{ csrfp_token() }}"/>
				<input name="action" type="hidden" value="add"/>
				<input name="bookmark_function" type="hidden" value="{{ func_name }}"/>
				<input name="bookmark_path" type="hidden" value="{{ path }}"/>
								
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-times"></i></button>
					<h4 class="modal-title">Add Bookmark</h4>
				</div>
				<div class="modal-body">
					<label>Bookmark name:</label>
					<input class="form-control" type="text" name="bookmark_name" value="{% if func_name == 'custom' %}{%if not atroot %}{{path}} in {%endif%}{{session.custom_uri|replace('smb://','')}}{% else %}{{ func_name }}/{{path}}{%endif%}"/>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button id="uploadbtn" type="submit" class="btn btn-success">Add</button>
				</div>
			</form>
		</div>
	</div>
</div>

{% if config['SEARCH_ENABLED'] %}
{#- SEARCH #}
<div class="modal" id="search" tabindex='-1'>
	<div class="modal-dialog">
		<div class="modal-content">
			<form action="{{ url_search }}" method="GET" id="search-form">
					
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-times"></i></button>
					<h4 class="modal-title">Search</h4>
				</div>

				<div class="modal-body">
					<input class="form-control" type="text" name="q" placeholder="File name to search for"/><br/>
					<p class="text-muted"><i class="fa fa-fw fa-exclamation-triangle"></i> Search results can be slow depending on the speed of the file server you are using</p>
				</div>
				
				<div class="modal-footer">
 					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<input id="search-form-submit" type="submit" class="btn btn-success" value="Search" data-loading-text="Searching..."/>
				</div>
			</form>
		</div>
	</div>
</div>
{% endif %}
