{#- modal popup for when 'add bookmark' is clicked  #}
<div class="modal" id="add-bookmark" tabindex='-1'>
	<div class="modal-dialog">
		<div class="modal-content">
			<form action="{{ url_bookmark }}" method="POST" enctype="multipart/form-data" autocomplete="off">
				<input name="_csrfp_token" type="hidden" value="{{ csrfp_token() }}"/>
				<input name="action" type="hidden" value="add"/>
				<input name="bookmark_function" type="hidden" value="{{ func_name }}"/>
				<input name="bookmark_path" type="hidden" value="{{ path }}"/>
								
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-times"></i></button>
					<h4 class="modal-title">Add Bookmark</h4>
				</div>
				<div class="modal-body">
					<label>Bookmark name:</label>
					<input class="form-control" type="text" name="bookmark_name" value="{% if func_name == 'custom' %}{%if not atroot %}{{path}} in {%endif%}{{session.custom_uri|replace('smb://','')}}{% else %}{{ func_name }}/{{path}}{%endif%}"/>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button id="uploadbtn" type="submit" class="btn btn-success">Add</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal" id="upload-drag-over">
	<div class="modal-dialog">
		<div class="modal-content" style="opacity: 0.9;">
			<div class="modal-body text-center">
				<h1><i class="fa fa-fw fa-5x fa-cloud-download"></i></h1>
				<h2>Drag and drop your files here to upload</h2>
				<p>You can also drag and drop your files anywhere on the page</p>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="upload-file" tabindex='-1'>
	<div class="modal-dialog">
		<div class="modal-content">
			<form action="{{ url_home }}" method="POST" enctype="multipart/form-data" autocomplete="off">
				<input name="_csrfp_token" type="hidden" value="{{ csrfp_token() }}"/>
				<input name="action" value="upload" type="hidden"/>
				<input name="path" type="hidden" value="{{ path }}"/>
				
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-times"></i></button>
					<h4 class="modal-title">Upload Files</h4>
				</div>
				<div class="modal-body">
					<p>
					Choose files to upload. You can select more than one file at a time. You can also drag and drop files anywhere on this page to start uploading. The maximum file size is {{config['MAX_CONTENT_LENGTH']|filesizeformat(binary=True)}}.
					</p>
					
					<div id="upload-progress" class="progress progress-striped hidden active">
						<div class="progress-bar progress-bar-info" style="min-width: 2em; width: 2%;">
    						<span id="upload-progress-pc">2</span>%
						</div>
					</div>

					<div id="upload-progress-ext" class="text-muted text-center hidden">
					</div>

					<ul id="upload-files" class="files list-unstyled" style="max-height: 250px; margin-top: 25px; overflow-y: auto">
					</ul>  
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-fw fa-times-circle"></i> Close</button>
					<button id="upload-cancel" type="button" class="btn btn-danger hidden"><i class="fa fa-fw fa-times"></i> Cancel upload</button>
					<span class="btn btn-success fileinput-button">
						<i class="fa fa-fw fa-plus"></i>
						<span>Select files</span>
						<input id="fileupload" type="file" name="files[]" multiple>
					</span>
				</div>
			</form>
		</div>
	</div>
</div>

{#- modal popup for when create directory is clicked #}
<div class="modal" id="create-directory" tabindex='-1'>
	<div class="modal-dialog">
		<div class="modal-content">
			<form action="{{ url_home }}" method="POST">
				<input name="_csrfp_token" type="hidden" value="{{ csrfp_token() }}"/>
				<input name="action" value="mkdir" type="hidden"/>
				<input name="path" type="hidden" value="{{ path }}"/>
					
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-times"></i></button>
					<h4 class="modal-title">Create folder</h4>
				</div>

				<div class="modal-body">
					<label>New folder name:</label>
					<input class="form-control" type="text" name="directory_name" placeholder="New folder"/>
				</div>
				
				<div class="modal-footer">
 					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<input type="submit" class="btn btn-success" value="Create"/>
				</div>
			</form>
		</div>
	</div>
</div>

{% if config['SEARCH_ENABLED'] %}
{#- modal popup for when search is clicked #}
<div class="modal" id="search" tabindex='-1'>
	<div class="modal-dialog">
		<div class="modal-content">
			<form action="{{ url_search }}" method="GET" id="search-form">
					
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-times"></i></button>
					<h4 class="modal-title">Search</h4>
				</div>

				<div class="modal-body">
					<input class="form-control" type="text" name="q" placeholder="File name to search for"/><br/>
					<p class="text-muted"><i class="fa fa-fw fa-exclamation-triangle"></i> Search results can be slow depending on the speed of the file server you are using</p>
				</div>
				
				<div class="modal-footer">
 					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<input id="search-form-submit" type="submit" class="btn btn-success" value="Search" data-loading-text="Searching..."/>
				</div>
			</form>
		</div>
	</div>
</div>
{% endif %}

{#- modal to delete a file #}
<div class="modal" id="delete-confirm" tabindex='-1'>
	<div class="modal-dialog">
		<div class="modal-content">
			<form action="{{ url_home }}" method="POST">
				<input name="_csrfp_token" type="hidden" value="{{ csrfp_token() }}"/>
				<input name="action" value="unlink" type="hidden"/>
				<input name="path" type="hidden" value="" id="delete_path"/>
					
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-times"></i></button>
					<h4 class="modal-title">Delete file</h4>
				</div>

				<div class="modal-body text-center">
					<p><i class="fa fa-fw fa-exclamation-triangle fa-5x"></i></p>

					<p>Are you sure you want to permanently delete '<span id="delete_filename" style="word-wrap: break-word;"></span>'?</p>
				</div>
				
				<div class="modal-footer">
 					<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
					<input type="submit" id="deletebtn" class="btn btn-danger" onclick="$('#deletebtn').button('loading')" data-loading-text="Deleting..." value="Yes"/>
				</div>
			</form>
		</div>
	</div>
</div>

{#- modal to delete a directory #}
<div class="modal" id="delete-dir-confirm" tabindex='-1'>
	<div class="modal-dialog">
		<div class="modal-content">
			<form action="{{ url_home }}" method="POST">
				<input name="_csrfp_token" type="hidden" value="{{ csrfp_token() }}"/>
				<input name="action" value="unlink" type="hidden"/>
				<input name="path" type="hidden" value="" id="delete_dir_path"/>
					
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-times"></i></button>
					<h4 class="modal-title">Delete directory</h4>
				</div>

				<div class="modal-body">
					<p>Are you sure you want to permanently delete the directory?</p>
					<label><span class="label label-danger">Note!</span> Only empty directories can be deleted! </label>
				</div>
				
				<div class="modal-footer">
					<input type="submit" class="btn btn-primary" value="Yes"/>
 					<button type="button" class="btn btn-success" data-dismiss="modal">No</button>
				</div>
			</form>
		</div>
	</div>
</div>

{#- modal for rename #}
<div class="modal" id="rename-file" tabindex='-1'>
	<div class="modal-dialog">
		<div class="modal-content">
			<form action="{{ url_home }}" method="POST">
				<input name="_csrfp_token" type="hidden" value="{{ csrfp_token() }}"/>
				<input name="action" value="rename" type="hidden"/>
				<input id="rename_path" name="path" type="hidden" value=""/>
					
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-times"></i></button>
					<h4 class="modal-title">Rename</h4>
				</div>

				<div class="modal-body">
					<label>New file name:</label>
					<input class="form-control" id="newfilename" type="text" name="newfilename" value=""/>
				</div>
				
				<div class="modal-footer">
 					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<input type="submit" class="btn btn-primary" value="Rename"/>				
				</div>
			</form>
		</div>
	</div>
</div>

{#- modal popup for when copy file is clicked #}
<div class="modal" id="copy-file" tabindex='-1'>
	<div class="modal-dialog">
		<div class="modal-content">
			<form action="{{ url_home }}" method="POST">
				<input name="_csrfp_token" type="hidden" value="{{ csrfp_token() }}"/>
				<input name="action" value="copy" type="hidden"/>
  				<input id="copy_path" name="path" type="hidden" value=""/>
					
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-times"></i></button>
					<h4 class="modal-title">Copy</h4>
				</div>

				<div class="modal-body">
					<label>Name of copied file:</label>
      				<input class="form-control" id="copyfilename" type="text" name="filename" value=""/>
				</div>
				
				<div class="modal-footer">
 					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<input type="submit" class="btn btn-primary" value="Copy"/>				
				</div>
			</form>
		</div>
	</div>
</div>

{#- modal for file click #}
<div class="modal" id="file-click" tabindex='-1'>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-times"></i></button>
				<h4 style="overflow: hidden; text-overflow: ellipsis;" class="modal-title" id="file-click-filename">Unknown</h4>
			</div>

			<div class="modal-body text-center">
				<img src="" id="file-click-preview" class="hidden"></img>
				<span id="file-click-icon" style="font-size: 128px"></span>
				<table class="table table-condensed text-left table-nl table-file-click">
					<tr>
						<th class="text-right">Size:</th>
						<td id="file-click-size"></td>
					</tr>
					<tr>
						<th class="text-right">Modified:</th>
						<td id="file-click-mtime"></td>
					</tr>
					<tr>
						<th class="text-right">Type:</th>
						<td id="file-click-mtype"></td>
					</tr>
				</table>
				<div class="btn-group btn-group-justified">
					<a href="#" id="file-click-download" class="btn btn-default"><i class="fa fa-fw fa-3x fa-download"></i><br/><span class="hidden-xs">Download</span></a>
					<a href="#" id="file-click-view" class="btn btn-default hidden hidden-xs"><i class="fa fa-fw fa-3x fa-eye"></i><br/><span class="hidden-xs">View</span></a>
					<a href="#" data-stat="" id="file-click-details" data-dismiss="modal" class="btn btn-default"><i class="fa fa-fw fa-3x fa-info-circle"></i><br/><span class="hidden-xs">Details</span></a>

					<a href="#copy-file" data-dismiss="modal"  data-toggle="modal" id="file-click-copy" class="btn btn-default"><i class="fa fa-fw fa-3x fa-clipboard"></i><br/><span class="hidden-xs">Copy</span></a>
					<a href="#rename-file" data-dismiss="modal"  data-toggle="modal" id="file-click-rename" class="btn btn-default"><i class="fa fa-fw fa-3x fa-pencil-square-o"></i><br/><span class="hidden-xs">Rename</span></a>
					<a href="#delete-confirm" data-dismiss="modal" data-toggle="modal" id="file-click-delete" class="btn btn-default"><i class="fa fa-fw fa-3x fa-trash"></i><br/><span class="hidden-xs">Delete</span></a>
				</div>
			</div>
			<div class="modal-footer">	
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>	
			</div>
		</div>
	</div>
</div>

{#- modal for file details (properties?) #}
<div class="modal" id="file-details" tabindex='-1'>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-times"></i></button>
				<h4 style="overflow: hidden; text-overflow: ellipsis;" class="modal-title" id="file-details-filename">Unknown</h4>
			</div>

			<div class="modal-body">
				<div id="file-details-loading" class="text-center">
					<i class="fa fa-spinner fa-spin fa-5x text-muted"></i>
				</div>
				<div id="file-details-error" class="text-center hidden">
					<i class="fa fa-frown-o fa-5x text-muted"></i>
					<p id="file-details-reason">An unknown error occured</p>
				</div>
				<div id="file-details-data" class="hidden">
					<form class="form-horizontal form-horizontal-compact">
						<div class="form-group">
							<label class="col-sm-3 control-label">Size:</label>
							<div class="col-sm-9">
								<p class="form-control-static" id="file-details-size"></p>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Type:</label>
							<div class="col-sm-9">
								<p class="form-control-static" id="file-details-ftype"></p>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Last accessed:</label>
							<div class="col-sm-9">
								<p class="form-control-static" id="file-details-atime"></p>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Last modified:</label>
							<div class="col-sm-9">
								<p class="form-control-static" id="file-details-mtime"></p>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Owner:</label>
							<div class="col-sm-9">
								<p class="form-control-static" id="file-details-owner"></p>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Group:</label>
							<div class="col-sm-9">
								<p class="form-control-static" id="file-details-group"></p>
							</div>
						</div>
					</form>					
				</div>
			</div>
			<div class="modal-footer">	
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>	
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$('#upload-file').on('hidden.bs.modal', function (e)
{
	if (window.uploadsuccess)
	{
		/* reload the window if the upload was a success */
		location.reload(1);
	}
})

function formatFileSize(bytes) {
	if (typeof bytes !== 'number') {
		return '';
	}
	if (bytes >= 1000000000) {
		return (bytes / 1000000000).toFixed(2) + ' GB';
	}
	if (bytes >= 1000000) {
		return (bytes / 1000000).toFixed(2) + ' MB';
	}
	return (bytes / 1000).toFixed(2) + ' KB';
}

function formatBitrate(bits) {
	if (typeof bits !== 'number') {
		return '';
	}

	bits = bits / 8

	if (bits >= 1000000000) {
		return (bits / 1000000000).toFixed(2) + ' GiB/s';
	}
	if (bits >= 1000000) {
		return (bits / 1000000).toFixed(2) + ' MiB/s';
	}
	if (bits >= 1000) {
		return (bits / 1000).toFixed(2) + ' KiB/s';
	}
	return bits.toFixed(2) + ' bytes/s';
}

function formatTime (seconds) {
	var date = new Date(seconds * 1000),
		days = Math.floor(seconds / 86400);
	days = days ? days + 'd ' : '';
	return days +
		('0' + date.getUTCHours()).slice(-2) + ':' +
		('0' + date.getUTCMinutes()).slice(-2) + ':' +
		('0' + date.getUTCSeconds()).slice(-2);
}

function renderExtendedProgress(data)
{
    return formatBitrate(data.bitrate) + ', ' +
        formatTime(
            (data.total - data.loaded) * 8 / data.bitrate
        ) + ' remaining <br/>' +
        formatFileSize(data.loaded) + ' uploaded of ' +
        formatFileSize(data.total);
}

$(function ()
{
	$('#fileupload').fileupload(
	{
		url: '{{url_home}}',
		dataType: 'json',
		maxChunkSize: 10485760, // 10MB
		formData: [{name: '_csrfp_token', value: '{{ csrfp_token() }}'}, {name: 'action', value: 'jsonupload'}, {name: 'path', value: {{path|tojson|safe}}}],
		start: function (e)
		{
			$('#upload-drag-over').modal('hide');
			$('#upload-file').modal()
			$('#upload-progress').removeClass('hidden');
			$('#upload-progress-ext').removeClass('hidden');
			$('#upload-cancel').removeClass('hidden');
			
			$('#upload-button-icon').removeClass('fa-upload');
			$('#upload-button-icon').addClass('fa-spin');
			$('#upload-button-icon').addClass('fa-cog');
		},
		stop: function (e, data)
		{
			$('#upload-button-icon').addClass('fa-upload');
			$('#upload-button-icon').removeClass('fa-spin');
			$('#upload-button-icon').removeClass('fa-cog');

			$('#upload-progress').addClass('hidden');
			$('#upload-progress-ext').addClass('hidden');
			$('#upload-cancel').addClass('hidden');

			if (!($("#upload-file").data('bs.modal').isShown))
			{
				/* if something finished then show the modal if it wasnt already */
				$('#upload-file').modal('show');
			}
		},
		done: function (e, data)
		{
			window.uploadsuccess = 1;
			$.each(data.result.files, function (index, file)
			{
				if (file.error)
				{
					$('<li><span class="label label-danger"><i class="fa fa-fw fa-exclamation"></i></span> &nbsp; Could not upload ' + file.name + ': ' + file.error + ' </li>').appendTo('#upload-files');
				}
				else
				{
					$('<li><span class="label label-success"><i class="fa fa-fw fa-check"></i></span> &nbsp; Uploaded ' + file.name + '</li>').appendTo('#upload-files');
				}
			});
		},
		fail: function (e, data)
		{
			window.uploadsuccess = 0;

			if (data.errorThrown === 'abort')
			{
				$('<li><span class="label label-warning"><i class="fa fa-fw fa-check"></i></span> &nbsp; Upload cancelled </li>').appendTo('#upload-files');
			}
			else
			{		
					$('<li><span class="label label-danger"><i class="fa fa-fw fa-exclamation"></i></span> &nbsp; Could not upload ' + file.name + ' The server said: ' + data.errorThrown + ' </li>').appendTo('#upload-files');
			}
		},
		progressall: function (e, data)
		{
			var progress = parseInt(data.loaded / data.total * 100, 10);
			$('#upload-progress-pc').html(progress);
			$('#upload-progress .progress-bar').css('width', progress + '%');
			$('#upload-progress-ext').html(renderExtendedProgress(data));
		},
		add: function (e, data)
		{
			jqXHR = data.submit();
			$('#upload-cancel').click(function (e)
			{
				jqXHR.abort();
			});
		},
	}).prop('disabled', !$.support.fileInput).parent().addClass($.support.fileInput ? undefined : 'disabled');

});

</script>

