{#- modal for file click #}
<div class="modal" id="file-click" tabindex='-1'>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-times"></i></button>
				<h4 style="overflow: hidden; text-overflow: ellipsis;" class="modal-title" id="file-click-filename">Unknown</h4>
			</div>

			<div class="modal-body text-center">
				<img src="" id="file-click-preview" class="hidden"></img>
				<span id="file-click-icon" style="font-size: 128px"></span>
				<table class="table table-condensed text-left table-nl table-file-click">
					<tr>
						<th class="text-right">Size:</th>
						<td id="file-click-size"></td>
					</tr>
					<tr>
						<th class="text-right">Modified:</th>
						<td id="file-click-mtime"></td>
					</tr>
					<tr>
						<th class="text-right">Type:</th>
						<td id="file-click-mtype"></td>
					</tr>
				</table>
				<div class="btn-group btn-group-justified">
					<a href="#" target="_blank" id="file-click-download" class="btn btn-default"><i class="fa fa-fw fa-3x fa-download"></i><br/><span class="hidden-xs">Download</span></a>
					<a href="#" target="_blank" id="file-click-view" class="btn btn-default hidden hidden-xs"><i class="fa fa-fw fa-3x fa-eye"></i><br/><span class="hidden-xs">View</span></a>
					<a href="#" data-stat="" id="file-click-details" data-dismiss="modal" class="btn btn-default"><i class="fa fa-fw fa-3x fa-info-circle"></i><br/><span class="hidden-xs">Details</span></a>
					<a id="e-copy-b" data-dismiss="modal"  class="btn btn-default"><i class="fa fa-fw fa-3x fa-clipboard"></i><br/><span class="hidden-xs">Copy</span></a>
					<a id="e-rename-b" data-dismiss="modal" class="btn btn-default"><i class="fa fa-fw fa-3x fa-pencil-square-o"></i><br/><span class="hidden-xs">Rename</span></a>
					<a id="e-delete-b" data-dismiss="modal" class="btn btn-default"><i class="fa fa-fw fa-3x fa-trash"></i><br/><span class="hidden-xs">Delete</span></a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="upload-drag-over">
	<div class="modal-dialog">
		<div class="modal-content" style="opacity: 0.9;">
			<div class="modal-body text-center">
				<h1><i class="fa fa-fw fa-5x fa-cloud-download"></i></h1>
				<h2>Drag and drop your files here to upload</h2>
				<p>You can also drag and drop your files anywhere on the page</p>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="upload-file" tabindex='-1'>
	<div class="modal-dialog">
		<div class="modal-content">

				
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-times"></i></button>
					<h4 class="modal-title">Upload Files</h4>
				</div>
				<div class="modal-body">
					<p>
					Choose files to upload. You can select more than one file at a time. You can also drag and drop files anywhere on this page to start uploading. The maximum file size is {{config['MAX_CONTENT_LENGTH']|filesizeformat(binary=True)}}.
					</p>

					<div id="upload-progress" class="progress progress-striped hidden active">
						<div class="progress-bar progress-bar-info" style="min-width: 2em; width: 2%;">
							<span id="upload-progress-pc">2</span>%
						</div>
					</div>

					<div id="upload-progress-ext" class="text-muted text-center hidden">
					</div>

					<ul id="upload-files" class="files list-unstyled" style="max-height: 250px; margin-top: 25px; overflow-y: auto">
					</ul>  
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-fw fa-times-circle"></i> Close</button>
					<button id="upload-cancel" type="button" class="btn btn-danger hidden"><i class="fa fa-fw fa-times"></i> Cancel upload</button>
					<span class="btn btn-success fileinput-button">
						<i class="fa fa-fw fa-plus"></i>
						<span>Select files</span>
						<input id="fileupload" type="file" name="files[]" multiple>
					</span>
				</div>
		</div>
	</div>
</div>


{#- modal for file details (properties?) #}
<div class="modal" id="file-details" tabindex='-1'>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-times"></i></button>
				<h4 style="overflow: hidden; text-overflow: ellipsis;" class="modal-title" id="file-details-filename">Unknown</h4>
			</div>

			<div class="modal-body">
				<div id="file-details-loading" class="text-center">
					<i class="fa fa-spinner fa-spin fa-5x text-muted"></i>
				</div>
				<div id="file-details-error" class="text-center hidden">
					<i class="fa fa-frown-o fa-5x text-muted"></i>
					<p id="file-details-reason">An unknown error occured</p>
				</div>
				<div id="file-details-data" class="hidden">
					<form class="form-horizontal form-horizontal-compact">
						<div class="form-group">
							<label class="col-sm-3 control-label">Size:</label>
							<div class="col-sm-9">
								<p class="form-control-static" id="file-details-size"></p>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Type:</label>
							<div class="col-sm-9">
								<p class="form-control-static" id="file-details-ftype"></p>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Last accessed:</label>
							<div class="col-sm-9">
								<p class="form-control-static" id="file-details-atime"></p>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Last modified:</label>
							<div class="col-sm-9">
								<p class="form-control-static" id="file-details-mtime"></p>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Owner:</label>
							<div class="col-sm-9">
								<p class="form-control-static" id="file-details-owner"></p>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Group:</label>
							<div class="col-sm-9">
								<p class="form-control-static" id="file-details-group"></p>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">	
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>	
			</div>
		</div>
	</div>
</div>


{#- RENAME #}
<div class="modal" id="e-rename-m" tabindex='-1'>
	<div class="modal-dialog">
		<form id="e-rename-f">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-times"></i></button>
					<h4 class="modal-title">Rename</h4>
				</div>
				<div class="modal-body">
					<label>New file name:</label>
					<input id="e-rename-i" class="form-control" type="text"/>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<input type="submit" class="btn btn-primary" value="Rename"/>
				</div>
			</div>
		</form>
	</div>
</div>

{#- DELETE #}
<div class="modal" id="e-delete-m" tabindex='-1'>
	<div class="modal-dialog">
		<form id="e-delete-f">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-times"></i></button>
					<h4 class="modal-title">Delete <span id="e-delete-t"></span></h4>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to permanently delete '<span id="e-delete-n" style="word-wrap: break-word;"></span>'?</p>
					<div id="e-delete-w" class="hidden"><label><span class="label label-danger">Note!</span> Only empty directories can be deleted! </label></div>
				</div>
				<div class="modal-footer">
					<input type="submit" class="btn btn-primary" value="Yes"/>
 					<button type="button" class="btn btn-success" data-dismiss="modal">No</button>
				</div>
			</div>
		</form>
	</div>
</div>

{#- COPY #}
<div class="modal" id="e-copy-m" tabindex='-1'>
	<div class="modal-dialog">
		<form id="e-copy-f">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-times"></i></button>
					<h4 class="modal-title">Copy</h4>
				</div>
				<div class="modal-body">
					<label>Name of new file:</label>
					<input id="e-copy-i" class="form-control" type="text"/>
				</div>
				<div class="modal-footer">
 					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<input type="submit" class="btn btn-primary" value="Copy"/>
				</div>
			</div>
		</form>
	</div>
</div>

{#- MKDIR #}
<div class="modal" id="mkdir-m" tabindex='-1'>
	<div class="modal-dialog">
		<form id="mkdir-f">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-times"></i></button>
					<h4 class="modal-title">Create directory</h4>
				</div>
				<div class="modal-body">
					<label>New directory name:</label>
					<input id="mkdir-i" class="form-control" type="text" placeholder="New directory"/>
				</div>
				<div class="modal-footer">
 					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<input type="submit" class="btn btn-success" value="Create"/>
				</div>
			</div>
		</form>
	</div>
</div>


{% if config['SEARCH_ENABLED'] %}
{#- SEARCH #}
<div id="search-m" class="modal" tabindex='-1'>
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="search-f">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-times"></i></button>
					<h4 class="modal-title">Search</h4>
				</div>
				<div class="modal-body">
					<input class="form-control" type="text" id="search-i" placeholder="Name to search for"/><br/>
					<p class="text-muted"><i class="fa fa-fw fa-exclamation-triangle"></i> Search results can be slow depending on the speed of the file server you are using</p>
				</div>
				<div class="modal-footer">
 					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<input id="search-b" type="submit" class="btn btn-success" value="Search" data-loading-text="Searching..."/>
				</div>
			</form>
		</div>
	</div>
</div>
{% endif %}
