{#- ADD BOOKMARK  #}
<div class="modal" id="add-bookmark" tabindex='-1'>
	<div class="modal-dialog">
		<div class="modal-content">
			<form action="{{ url_bookmark }}" method="POST" enctype="multipart/form-data" autocomplete="off">
				<input name="_csrfp_token" type="hidden" value="{{ csrfp_token() }}"/>
				<input name="action" type="hidden" value="add"/>
				<input name="bookmark_function" type="hidden" value="{{ func_name }}"/>
				<input name="bookmark_path" type="hidden" value="{{ path }}"/>
								
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-times"></i></button>
					<h4 class="modal-title">Add Bookmark</h4>
				</div>
				<div class="modal-body">
					<label>Bookmark name:</label>
					<input class="form-control" type="text" name="bookmark_name" value="{% if func_name == 'custom' %}{%if not atroot %}{{path}} in {%endif%}{{session.custom_uri|replace('smb://','')}}{% else %}{{ func_name }}/{{path}}{%endif%}"/>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button id="uploadbtn" type="submit" class="btn btn-success">Add</button>
				</div>
			</form>
		</div>
	</div>
</div>

{% if config['SEARCH_ENABLED'] %}
{#- SEARCH #}
<div class="modal" id="search" tabindex='-1'>
	<div class="modal-dialog">
		<div class="modal-content">
			<form action="{{ url_search }}" method="GET" id="search-form">
					
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-times"></i></button>
					<h4 class="modal-title">Search</h4>
				</div>

				<div class="modal-body">
					<input class="form-control" type="text" name="q" placeholder="File name to search for"/><br/>
					<p class="text-muted"><i class="fa fa-fw fa-exclamation-triangle"></i> Search results can be slow depending on the speed of the file server you are using</p>
				</div>
				
				<div class="modal-footer">
 					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<input id="search-form-submit" type="submit" class="btn btn-success" value="Search" data-loading-text="Searching..."/>
				</div>
			</form>
		</div>
	</div>
</div>
{% endif %}

{#- modal for file click #}
<div class="modal" id="file-click" tabindex='-1'>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-times"></i></button>
				<h4 style="overflow: hidden; text-overflow: ellipsis;" class="modal-title" id="file-click-filename">Unknown</h4>
			</div>

			<div class="modal-body text-center">
				<img src="" id="file-click-preview" class="hidden"></img>
				<span id="file-click-icon" style="font-size: 128px"></span>
				<table class="table table-condensed text-left table-nl table-file-click">
					<tr>
						<th class="text-right">Size:</th>
						<td id="file-click-size"></td>
					</tr>
					<tr>
						<th class="text-right">Modified:</th>
						<td id="file-click-mtime"></td>
					</tr>
					<tr>
						<th class="text-right">Type:</th>
						<td id="file-click-mtype"></td>
					</tr>
				</table>
				<div class="btn-group btn-group-justified">
					<a href="#" id="file-click-download" class="btn btn-default"><i class="fa fa-fw fa-3x fa-download"></i><br/><span class="hidden-xs">Download</span></a>
					<a href="#" id="file-click-view" class="btn btn-default hidden hidden-xs"><i class="fa fa-fw fa-3x fa-eye"></i><br/><span class="hidden-xs">View</span></a>
					<a href="#" data-stat="" id="file-click-details" data-dismiss="modal" class="btn btn-default"><i class="fa fa-fw fa-3x fa-info-circle"></i><br/><span class="hidden-xs">Details</span></a>
					<a id="e-copy-b" data-dismiss="modal"  class="btn btn-default"><i class="fa fa-fw fa-3x fa-clipboard"></i><br/><span class="hidden-xs">Copy</span></a>
					<a id="e-rename-b" data-dismiss="modal" class="btn btn-default"><i class="fa fa-fw fa-3x fa-pencil-square-o"></i><br/><span class="hidden-xs">Rename</span></a>
					<a id="e-delete-b" data-dismiss="modal" class="btn btn-default"><i class="fa fa-fw fa-3x fa-trash"></i><br/><span class="hidden-xs">Delete</span></a>
				</div>
			</div>
		</div>
	</div>
</div>
