{%- macro logoutmenu(class) -%}
	<li class="{{class}}"><a href="{{ url_for('logout') }}"><i class="fa fa-sign-out fa-fw"></i> Sign Out</a></li>
{%- endmacro -%}
{%- macro bargatemenu() -%}
	{% if config['REDIS_ENABLED'] %}
	<li><a href="#prefs-m" data-toggle="modal"><i class="fa fa-gears fa-fw"></i> Settings</a></li>
	{% if config['TOTP_ENABLED'] %}
	<li><a href="{{ url_for('totp_user_view') }}"><i class="fa fa-lock fa-fw"></i> Two Step Protection</a></li>
	{% endif %}
	<li class="divider"></li>
	{% endif %}
	{%- include 'user-menu.html' %}
	{%- include 'help-menu.html' %}
	<li><a href="{{ url_for('about') }}"><i class="fa fa-fw fa-star"></i> About</a></li>
{%- endmacro -%}
{%- macro sortmenu() -%}
<a class="btn navbar-btn btn-default browse-b disabled" data-tooltip="yes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-title="Sort by">
	<i class="fa fa-fw fa-lg fa-sort"></i>
</a>
<ul class="dropdown-menu dropdown-menu-auto">
	<li style="cursor: pointer"><a class="dir-sortby-name"><span class="sortby-check"><i class="fa fa-fw fa-check"></i></span> Name</a></li>
	<li style="cursor: pointer"><a class="dir-sortby-type"><span class="sortby-check invisible"><i class="fa fa-fw fa-check"></i></span> Type</a></li>
	<li style="cursor: pointer"><a class="dir-sortby-mtime"><span class="sortby-check invisible"><i class="fa fa-fw fa-check"></i></span> Modified</a></li>
	<li style="cursor: pointer"><a class="dir-sortby-size"><span class="sortby-check invisible"><i class="fa fa-fw fa-check"></i></span> Size</a></li>
</ul>
{%- endmacro -%}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ config['APP_DISPLAY_NAME'] }}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="icon" type="image/png" href="{{ favicon }}">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ url_for('static', filename='themes/' + user_theme + '/' + user_theme + '.css') }}" id="theme-l">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bargate.min.css') }}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.15/css/dataTables.bootstrap.min.css" integrity="sha256-TihKTLoy3iBCO16p5bOOdNJiNbl+sUEYZlSZvMzaK6E=" crossorigin="anonymous" />
		<script src="{{ url_for('settings_js') }}" defer></script>
		{% include 'javascript.html' %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/mouse0270-bootstrap-notify/3.1.7/bootstrap-notify.min.js" integrity="sha256-LlN0a0J3hMkDLO1mhcMwy+GIMbIRV7kvKHx4oCxNoxI=" crossorigin="anonymous" async></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/nunjucks/3.0.1/nunjucks-slim.min.js" integrity="sha256-tdB3uMy+X5YRM5JMGgy1oMtdSm1GwTEMmWb7q80e2+g=" crossorigin="anonymous" defer></script>
		<script src="{{ url_for('static', filename='js/jquery.ui.widget.min.js') }}" async></script>
		<script src="{{ url_for('static', filename='js/jquery.fileupload.min.js') }}" async></script>
		<script src="{{ url_for('static', filename='js/jquery.dragster.min.js') }}" async></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.15/js/jquery.dataTables.min.js" integrity="sha256-j007R7R6ijEWPa1df7FeJ6AFbQeww0xgif2SJWZOhHw=" crossorigin="anonymous" {% if user_layout == 'grid' %}async{%else%}defer{%endif%}></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.15/js/dataTables.bootstrap.min.js" integrity="sha256-X/58s5WblGMAw9SpDtqnV8dLRNCawsyGwNqnZD0Je/s=" crossorigin="anonymous" {% if user_layout == 'grid' %}async{%else%}defer{%endif%}></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.4/isotope.pkgd.min.js" integrity="sha256-+WFRRTv1uGEhn6sykgWJyTBYDE8cQn8uAj50Kefp9II=" crossorigin="anonymous" {% if user_layout == 'grid' %}defer{%else%}async{%endif%}></script>
		<script src="{{ url_for('static', filename='js/bargate.min.js') }}" defer></script>
		<script src="{{ url_for('static', filename='templates.js') }}" defer></script>
	</head>
	<body>
	<div class="modal" id="modal-error">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-times"></i></button>
					<h4 class="modal-title text-danger"><span class="fa fa-fw fa-exclamation-triangle"></span> <span id="modal-error-title"></span></h4>
				</div>
				<div class="modal-body"><p id="modal-error-desc"></p></div>
				<div class="modal-footer">
					<a href="#" class="btn btn-default"  data-dismiss="modal">Close</a>
				</div>
			</div>
		</div>
	</div>
	<div class="modal" id="prefs-m">
		<div class="modal-dialog modal-lg">
			<div class="modal-content" style="min-height: 600px">
				<div class="modal-header mhc">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-times"></i></button>
					<ul class="nav nav-pills" role="tablist">
						<li role="presentation" class="active"><a href="#fopts" aria-controls="fopts" role="tab" data-toggle="tab">Folder options</a></li>
						<li role="presentation"><a href="#uploadprefs" aria-controls="uploadprefs" role="tab" data-toggle="tab">Uploads</a></li>
						<li role="presentation"><a href="#theme" aria-controls="theme" role="tab" data-toggle="tab">Theme</a></li>
					</ul>
				</div>
				<div class="modal-body">
					<form id="prefs-f">
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="fopts">
								<h5>Layout mode</h5>
								<div class="radio">
									<label>
										<input type="radio" name="prefs-layout-i" id="prefs-layout-grid" value="grid"> View folder contents as a grid of icons
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="prefs-layout-i" id="prefs-layout-list" value="list"> View folder contents as list
									</label>
								</div>

								<h5>Hidden files</h5>
								<div class="checkbox">
									<label>
										<input id="prefs-hidden" name="prefs-hidden-i" type="checkbox" value="show">
										Show hidden files and folders
									</label>
								</div>

								<h5>On file click</h5>
								<div class="radio">
									<label>
										<input type="radio" name="prefs-click-i" id="prefs-click-ask" value="ask">
										Open file details <span class="text-muted">(Recommended)</span>
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="prefs-click-i" id="prefs-click-default" value="default">
										View or download files when clicked without prompting
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="prefs-click-i" id="prefs-click-download" value="download">
										Download files when clicked without prompting
									</label>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane" id="uploadprefs">
								<h5>Overwrite on upload</h5>
								<div class="checkbox">
									<label>
										<input id="prefs-overwrite" name="prefs-overwrite" type="checkbox">
										Allow overwriting an existing file when uploading if the filename matches
									</label>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane" id="theme">
								<div class="radio">
									<label>
										<input type="radio" name="prefs-theme-i" id="prefs-theme-lumen" value="lumen">
										Lumen
									</label>
								</div>
								<div class="radio">
									<label>
									<input type="radio" name="prefs-theme-i" id="prefs-theme-cerulean" value="cerulean">
									Cerulean
									</label>
								</div>
								<div class="radio">
									<label>
									<input type="radio" name="prefs-theme-i" id="prefs-theme-cosmo" value="cosmo">
									Cosmo
									</label>
								</div>
								<div class="radio">
									<label>
									<input type="radio" name="prefs-theme-i" id="prefs-theme-cyborg" value="cyborg">
									Cyborg
									</label>
								</div>
								<div class="radio">
									<label>
									<input type="radio" name="prefs-theme-i" id="prefs-theme-journal" value="journal">
									Journal
									</label>
								</div>
								<div class="radio">
									<label>
									<input type="radio" name="prefs-theme-i" id="prefs-theme-flatly" value="flatly">
									Flatly
									</label>
								</div>
								<div class="radio">
									<label>
									<input type="radio" name="prefs-theme-i" id="prefs-theme-sandstone" value="sandstone">
									Sandstone
									</label>
								</div>
								<div class="radio">
									<label>
									<input type="radio" name="prefs-theme-i" id="prefs-theme-paper" value="paper" checked="">
									Paper
									</label>
								</div>
								<div class="radio">
									<label>
									<input type="radio" name="prefs-theme-i" id="prefs-theme-readable" value="readable">
									Readable
									</label>
								</div>
								<div class="radio">
									<label>
									<input type="radio" name="prefs-theme-i" id="prefs-theme-simplex" value="simplex">
									Simplex
									</label>
								</div>
								<div class="radio">
									<label>
									<input type="radio" name="prefs-theme-i" id="prefs-theme-spacelab" value="spacelab">
									Spacelab
									</label>
								</div>
								<div class="radio">
									<label>
									<input type="radio" name="prefs-theme-i" id="prefs-theme-united" value="united">
									United
									</label>
								</div>
								<div class="radio">
									<label>
									<input type="radio" name="prefs-theme-i" id="prefs-theme-darkly" value="darkly">
									Darkly
									</label>
								</div>
								<div class="radio">
									<label>
									<input type="radio" name="prefs-theme-i" id="prefs-theme-slate" value="slate">
									Slate
									</label>
								</div>
								<div class="radio">
									<label>
									<input type="radio" name="prefs-theme-i" id="prefs-theme-yeti" value="yeti">
									Yeti
									</label>
								</div>
								<div class="radio">
									<label>
									<input type="radio" name="prefs-theme-i" id="prefs-theme-solar" value="solar">
									Solar
									</label>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	{% block modals %}{% endblock -%}
		<div class="navbar navbar-{{theme_navbar}} navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					{%- if session.logged_in %}
					<a href="{{ url_for(config['SHARES_DEFAULT']) }}" class="navbar-brand visible-xs visible-md visible-lg">{{ config['APP_DISPLAY_NAME'] }}</a>
					<a href="{{ url_for(config['SHARES_DEFAULT']) }}" class="navbar-brand visible-sm">{{ config['APP_DISPLAY_NAME_SHORT'] }}</a>
					{%- else %}
					<a href="{{ url_for('login') }}" class="navbar-brand"><i class="fa fa-arrow-circle-o-left"></i> Back to Login</a>
					{%- endif %}
				</div>
			
				{%- if session.logged_in %}
				<div class="navbar-collapse collapse" id="navbar-collapse-1">	
					<ul class="nav navbar-nav">
						{%- include 'dropdown-menus.html' %}
						{%- include 'bookmarks-menu.html' %}
						<li class="dropdown visible-xs">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Options <b class="caret"></b></a>
							<ul class="dropdown-menu">
								{{ bargatemenu() }}
							</ul>
						</li>
						{{ logoutmenu('visible-xs') }}
					</ul>

						<div class="nav navbar-nav navbar-right hidden-xs bargate-navbar-btn">
							<a class="btn navbar-btn btn-default" data-tooltip="yes" data-toggle="dropdown" title="Menu" aria-haspopup="true" aria-expanded="false">
								<i class="fa fa-bars fa-fw fa-lg"></i>
							</a>
							<ul class="dropdown-menu dropdown-menu-right">
							{{ bargatemenu() }}
							<li class="divider"></li>
							{{ logoutmenu() }}
							</ul>
						</div>
					
					{% if browse_mode %}
						{% if config['REDIS_ENABLED'] %}
						<div class="nav navbar-nav navbar-right hidden-xs bargate-navbar-btn">
							<a id="layout-button" class="btn navbar-btn btn-default btn" data-tooltip="yes" title="Switch layout">
								<i id="layout-button-icon" class="fa fa-fw fa-lg {% if user_layout == 'grid' %}fa-list{%else%}fa-th-large{%endif%}"></i>
							</a>
						</div>
						{% endif %}

						<div class="nav navbar-nav navbar-right hidden-xs bargate-navbar-btn">
							<a id="create-directory-button" data-toggle="modal" href="#mkdir-m" class="btn navbar-btn btn-default browse-b disabled" data-tooltip="yes" title="Create a directory">
								<i class="fa fa-fw fa-lg fa-folder-open"></i>
							</a>
						</div>

						<div class="nav navbar-nav navbar-right hidden-xs bargate-navbar-btn">
							<a id="upload-button" data-toggle="modal" href="#upload-m" class="btn navbar-btn btn-default btn browse-b disabled" data-tooltip="yes" title="Upload a file">
								<i id="upload-button-icon" class="fa fa-fw fa-lg fa-upload"></i>
							</a>
						</div>

						<div class="nav navbar-nav navbar-right hidden-xs bargate-navbar-btn">
							{{ sortmenu() }}
						</div>

						{% if config['SEARCH_ENABLED'] %}
						<div class="nav navbar-nav navbar-right hidden-xs bargate-navbar-btn">
							<a data-toggle="modal" href="#search-m" class="btn navbar-btn btn-default btn browse-b disabled" data-tooltip="yes" title="Search">
								<i class="fa fa-fw fa-lg fa-search"></i>
							</a>
						</div>
						{% endif %}
					{% endif %}
				</div>
				{%- endif %}
			</div>
		</div>

		<div id="pdiv" class="container-fluid{% if browse_mode %} {% if user_layout == 'list' %}listview{%else%}gridview{%endif%}{%endif%} container-body">
			{% for category, message in get_flashed_messages(with_categories=true) %}
				<div class="alert alert-dismissable {{category}}"><button type="button" class="close" data-dismiss="alert">×</button>{{message}}</div>
			{% endfor %}
			{% block body %}{% endblock -%}
		</div>
		
		{% if browse_mode %}
		<div class="navbar navbar-{{theme_navbar}} navbar-fixed-bottom visible-xs" role="navigation">
			<div class="container text-center">
				<div class="text-center inline-block dropup">
					{{ sortmenu() }}
				</div>
				<div class="text-center inline-block">
					<a data-toggle="modal" href="#upload-m" class="btn navbar-btn btn-default browse-b disabled">
						<i class="fa fa-fw fa-upload"></i>
					</a>
				</div>
				<div class="text-center inline-block">
					<a data-toggle="modal" href="#mkdir-m" class="btn navbar-btn btn-default browse-b disabled">
						<i class="fa fa-fw fa-folder-open"></i>
					</a>
				</div>
				{%- if config['REDIS_ENABLED'] %}
				<div class="text-center inline-block">
					<a href="#bmark-m" class="btn navbar-btn btn-default bmark-b disabled" data-toggle="modal">
						<i class="fa fa-fw fa-bookmark"></i>
					</a>
				</div>
				{%- endif %}
			</div>
		</div>
		{%- endif %}
	</body>
</html>
