{%- macro logoutmenu(class) -%}
	<li{% if class %} class="{{class}}"{% endif %}><a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt fa-fw"></i> Sign Out</a></li>
{%- endmacro -%}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ config['APP_DISPLAY_NAME'] }}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="icon" type="image/png" href="{{ favicon }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='themes/' + user_theme + '/' + user_theme + '.css') }}" id="theme-l">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bargate.min.css') }}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.15/css/dataTables.bootstrap.min.css" integrity="sha256-TihKTLoy3iBCO16p5bOOdNJiNbl+sUEYZlSZvMzaK6E=" crossorigin="anonymous" />
		{% include 'javascript.html' %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/mouse0270-bootstrap-notify/3.1.7/bootstrap-notify.min.js" integrity="sha256-LlN0a0J3hMkDLO1mhcMwy+GIMbIRV7kvKHx4oCxNoxI=" crossorigin="anonymous" async></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/nunjucks/3.0.1/nunjucks-slim.min.js" integrity="sha256-tdB3uMy+X5YRM5JMGgy1oMtdSm1GwTEMmWb7q80e2+g=" crossorigin="anonymous" defer></script>
		<script src="{{ url_for('static', filename='js/jquery.ui.widget.min.js') }}" async></script>
		<script src="{{ url_for('static', filename='js/jquery.fileupload.min.js') }}" async></script>
		<script src="{{ url_for('static', filename='js/jquery.dragster.min.js') }}" async></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.15/js/jquery.dataTables.min.js" integrity="sha256-j007R7R6ijEWPa1df7FeJ6AFbQeww0xgif2SJWZOhHw=" crossorigin="anonymous" {% if user_layout == 'grid' %}async{%else%}defer{%endif%}></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.15/js/dataTables.bootstrap.min.js" integrity="sha256-X/58s5WblGMAw9SpDtqnV8dLRNCawsyGwNqnZD0Je/s=" crossorigin="anonymous" {% if user_layout == 'grid' %}async{%else%}defer{%endif%}></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.4/isotope.pkgd.min.js" integrity="sha256-+WFRRTv1uGEhn6sykgWJyTBYDE8cQn8uAj50Kefp9II=" crossorigin="anonymous" {% if user_layout == 'grid' %}defer{%else%}async{%endif%}></script>
		<script src="{{ url_for('static', filename='js/mousetrap.min.js') }}" defer></script>
		<script src="{{ url_for('static', filename='js/bargate.min.js') }}" defer></script>
		<script src="{{ url_for('static', filename='templates.js') }}" defer></script>
	</head>
	<body>
	<div class="modal" id="modal-error" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fas fa-fw fa-times"></i></button>
					<h4 class="modal-title text-danger"><span class="fas fa-fw fa-exclamation-triangle"></span> <span id="modal-error-title"></span></h4>
				</div>
				<div class="modal-body"><p id="modal-error-desc"></p></div>
				<div class="modal-footer">
					<a href="#" class="btn btn-default"  data-dismiss="modal">Close</a>
				</div>
			</div>
		</div>
	</div>
	{%- include 'shortcuts.html' %}
	{%- include 'connect.html' %}
	{% if config.REDIS_ENABLED %}
	{%- include 'settings.html' %}
	{% endif %}
	{%- include 'about.html' %}
	{% block modals %}{% endblock -%}
		<div class="navbar navbar-{{theme_navbar}} navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					{%- if session.logged_in %}
					<a href="{{ url_for(config['SHARES_DEFAULT']) }}" class="navbar-brand visible-xs visible-md visible-lg">{{ config['APP_DISPLAY_NAME'] }}</a>
					<a href="{{ url_for(config['SHARES_DEFAULT']) }}" class="navbar-brand visible-sm">{{ config['APP_DISPLAY_NAME_SHORT'] }}</a>
					{%- else %}
					<a href="{{ url_for('login') }}" class="navbar-brand"><i class="fas fa-arrow-circle-left"></i> Back to Login</a>
					{%- endif %}
				</div>
			
				{%- if session.logged_in %}
				<div class="navbar-collapse collapse" id="navbar-collapse-1">
					<ul class="nav navbar-nav">
						{%- include 'dropdown-menus.html' %}
						{%- include 'bookmarks-menu.html' %}
						<li class="dropdown visible-xs">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Options <b class="caret"></b></a>
							<ul class="dropdown-menu">
								{%- include 'bargate-menu.html' %}
							</ul>
						</li>
						{{ logoutmenu('visible-xs') }}
					</ul>

						<div class="nav navbar-nav navbar-right hidden-xs bargate-navbar-btn">
							<a class="btn navbar-btn btn-default" data-tooltip="yes" data-toggle="dropdown" title="Menu" aria-haspopup="true" aria-expanded="false">
								<i class="fas fa-ellipsis-v fa-fw fa-lg"></i>
							</a>
							<ul class="dropdown-menu dropdown-menu-right">
								{%- include 'bargate-menu.html' %}
								<li class="divider"></li>
								{{ logoutmenu() }}
							</ul>
						</div>
					
					{% if browse_mode %}
						{% if config['REDIS_ENABLED'] %}
						<div class="nav navbar-nav navbar-right hidden-xs bargate-navbar-btn">
							<a id="layout-button" class="btn navbar-btn btn-default btn" data-tooltip="yes" title="Switch layout">
								<i id="layout-button-icon" class="fas fa-fw fa-lg {% if user_layout == 'grid' %}fa-list{%else%}fa-th-large{%endif%}"></i>
							</a>
						</div>
						{% endif %}

						<div class="nav navbar-nav navbar-right hidden-xs bargate-navbar-btn">
							<a id="create-directory-button" data-toggle="modal" href="#mkdir-m" class="btn navbar-btn btn-default browse-b disabled" data-tooltip="yes" title="Create a directory">
								<i class="fas fa-fw fa-lg fa-folder-open"></i>
							</a>
						</div>

						<div class="nav navbar-nav navbar-right hidden-xs bargate-navbar-btn">
							<a id="upload-button" data-toggle="modal" href="#upload-m" class="btn navbar-btn btn-default btn browse-b disabled" data-tooltip="yes" title="Upload a file">
								<i id="upload-button-icon" class="fas fa-fw fa-lg fa-upload"></i>
							</a>
						</div>

						<div class="nav navbar-nav navbar-right hidden-xs bargate-navbar-btn">
							{%- include 'sort-menu.html' %}
						</div>

						{% if config['SEARCH_ENABLED'] %}
						<div class="nav navbar-nav navbar-right hidden-xs bargate-navbar-btn">
							<a data-toggle="modal" href="#search-m" class="btn navbar-btn btn-default btn browse-b disabled" data-tooltip="yes" title="Search">
								<i class="fas fa-fw fa-lg fa-search"></i>
							</a>
						</div>
						{% endif %}
					{% endif %}
				</div>
				{%- endif %}
			</div>
		</div>

		<div {% if browse_mode %}id="pdiv"{%endif%} class="container-fluid{% if browse_mode %} {% if user_layout == 'list' %}listview{%else%}gridview{%endif%}{%endif%} container-body">
			{% for category, message in get_flashed_messages(with_categories=true) %}
				<div class="alert alert-dismissable {{category}}"><button type="button" class="close" data-dismiss="alert">×</button>{{message}}</div>
			{% endfor %}
			{% block body %}{% endblock -%}
		</div>
		
		{% if browse_mode %}
		<div class="navbar navbar-{{theme_navbar}} navbar-fixed-bottom visible-xs" role="navigation">
			<div class="container text-center">
				<div class="text-center inline-block dropup">
					{%- include 'sort-menu.html' %}
				</div>
				<div class="text-center inline-block">
					<a data-toggle="modal" href="#upload-m" class="btn navbar-btn btn-default browse-b disabled">
						<i class="fas fa-fw fa-upload"></i>
					</a>
				</div>
				<div class="text-center inline-block">
					<a data-toggle="modal" href="#mkdir-m" class="btn navbar-btn btn-default browse-b disabled">
						<i class="fas fa-fw fa-folder-open"></i>
					</a>
				</div>
				{%- if config['REDIS_ENABLED'] %}
				{% if config['BOOKMARKS_ENABLED'] %}
				<div class="text-center inline-block">
					<a href="#bmark-m" class="btn navbar-btn btn-default bmark-b disabled" data-toggle="modal">
						<i class="fas fa-fw fa-bookmark"></i>
					</a>
				</div>
				{%- endif %}
				{%- endif %}
			</div>
		</div>
		{%- endif %}
	</body>
</html>
