{%- include 'breadcrumbs.html' -%}
<h3>Results for '{{query}}'</h3>
<table id="results" class="table table-striped table-hover" style="width: 100%">
	<thead>
		<tr>
			<th class="tsdisable" style="width: 1px"></th>
			<th>Name</th>
		</tr>
	</thead>
	<tbody>
		{%- for entry in results -%}
		{% if entry.type == type.dir %}	
		<tr class="edir" data-url="{{entry.url}}">
		{% elif entry.type == type.file %}
		<tr class="efile" data-icon="{{entry.icon}}" {% if entry.img_preview %}data-imgpreview="{{ entry.img_preview }}" {%endif%} {% if entry.view %}data-view="{{ entry.view }}" {%endif%} data-download="{{ entry.download }}" data-mtype="{{entry.mtype}}" data-filename="{{entry.name}}" data-mtime="{{entry.mtime}}" data-size="{{entry.size|filesizeformat(binary=True)}}" data-stat="{{ entry.stat }}">
			<td class="text-center"><span class="{{ entry.icon }} fa-2x"></span></td>
			<td class="dentry">{{ entry.name}}<br/>
				<span class="text-muted">in <a class="edir" data-url="{{entry.parent_url}}">{% if entry.parent_path %} /{{entry.parent_path}}{%else%}{{root_display_name}}{%endif%}</a></span>
			</td>
		{% endif %}
		</tr>
		{%- else -%}
		<tr><td colspan="2"><em>No results found</em></td></tr>
		{% endfor %}
	</tbody>
</table>
<script>
disableBookmark();
disableBrowseButts();
</script>
