<div class="modal" id="shortcuts-m">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header mhc">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fas fa-fw fa-times"></i></button>
				<h4 class="modal-title">Keyboard shortcuts</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-2">
						<h4><strong>alt+up</strong></h4>
						<h4><strong>alt+p</strong></h4>
						<h4><strong>alt+u</strong></h4>
						<h4><strong>alt+n</strong></h4>
						<h4><strong>alt+s</strong></h4>
						<h4><strong>alt+b</strong></h4>
						<h4><strong>alt+l</strong></h4>
					</div>
					<div class="col-sm-10">
						<h4>navigate to parent directory </h4>
						<h4>show preferences </h4>
						<h4>upload file(s) </h4>
						<h4>create directory </h4>
						<h4>search in current directory </h4>
						<h4>bookmark current directory </h4>
						<h4>switch layout mode </h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
