<a class="btn navbar-btn btn-default browse-b disabled" data-tooltip="yes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-title="Sort by">
	<i class="fas fa-fw fa-lg fa-sort"></i>
</a>
<ul class="dropdown-menu dropdown-menu-auto">
	<li style="cursor: pointer"><a class="dir-sortby-name"><span class="sortby-check"><i class="fas fa-fw fa-check"></i></span> Name</a></li>
	<li style="cursor: pointer"><a class="dir-sortby-type"><span class="sortby-check invisible"><i class="fas fa-fw fa-check"></i></span> Type</a></li>
	<li style="cursor: pointer"><a class="dir-sortby-mtime"><span class="sortby-check invisible"><i class="fas fa-fw fa-check"></i></span> Modified</a></li>
	<li style="cursor: pointer"><a class="dir-sortby-size"><span class="sortby-check invisible"><i class="fas fa-fw fa-check"></i></span> Size</a></li>
</ul>
