{% extends "login-base.html" %}
{% block body %}
				<p>Enter the code from the authenticator app on your smartphone:</p>
				<form role="form" method="POST">
					<input name="_csrfp_token" type="hidden" value="{{ csrfp_token() }}"/>
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon"><span class="fas fa-key"></span></div>
							<input type="text" class="login-input form-control" id="loginUsername" name="token">
						</div>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" value="confirm" name="trust" checked="checked"> Trust this device for 30 days
						</label>
					</div>
					<div class="form-group">
						<button class="btn btn-primary btn-lg btn-block" type="submit">Continue</button>
					</div>
				</form>
{% endblock %}
