html, body {
	height: 100%;
}

.changelog {
	list-style: none;
	margin: 0 0 10px 10px;
}

/* buttons on toolbar top right */
.inline-block {
	display: inline-block;
}

.bargate-navbar-btn {
	padding-right: 5px;
}

.navbar-right .dropdown-menu-auto {
	left: auto;
	right: auto;
}

/* Error pages error in middle of screen */
.jumbotron-alert {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 80%;
}

/* file uploads */
.fileinput-button {
	overflow: hidden;
	position: relative;
}

.fileinput-button input {
	cursor: pointer;
	direction: ltr;
	font-size: 200px;
	margin: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
}

/* Prevent themes from putting borders on tables */ 
.table-nl>thead>tr>th, .table-nl>tbody>tr>th, .table-nl>tfoot>tr>th, .table-nl>thead>tr>td, .table-nl>tbody>tr>td, .table-nl>tfoot>tr>td {
	border-bottom: none;
	border-top: none;
}

.prefsh, .prefshF, .prefshS {
	margin-bottom: 10px;
	margin-top: 40px;
	font-weight: bold;
	text-transform: uppercase;
}

@media (min-width: 768px) {
	.prefshS {
		margin-top: 0;
	}
}

.prefshF {
	margin-top: 0;
}

/* overflow text properly on panel labels for grid view */
.grid-entry .panel-footer {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.efile .panel-footer {
	text-align: center;
}

.efile, .edir, .eshare {
	cursor: pointer;
}

.eshare .panel-footer {
	text-align: center;
}

/* wrap tooltips properly on grid view */
.grid-entry .tooltip-inner {
	hyphens: auto;
	overflow-wrap: break-word;
	word-wrap: break-word;
	white-space:pre-wrap;
	-ms-word-break: break-all;
	-epub-word-break: break-all;
	word-break: break-all;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-epub-hyphens: auto;
	-webkit-hyphens: auto;
}

/* mobile rules */
.gridview {
	padding-left: 0;
	padding-right: 0;
}

.grid-entry {
	margin-right: 4px;
	margin-top: 4px;
	width: calc(50% - 4px);
}

.gridview ol.breadcrumb {
	margin-bottom: 0;
}

@media (max-width: 768px) {
	.gridview #dirs, .gridview #files {
		margin-left: 4px;
	}
}

/* four icons - small desktops */ 
@media (min-width: 768px) {
	.gridview {
		padding-left: 12px;
		padding-right: 0;
		padding-bottom: 12px;
	}
	.grid-entry {
		margin-top: 12px;
		margin-right: 12px;
		width: calc(25% - 12px);
	}
	.gridview ol.breadcrumb {
		margin-right: 12px;
	}

}

/* six icons - medium desktops */ 
@media (min-width: 992px) {
	.grid-entry {
		width: calc(16.666666667% - 12px);
	}
}

/* eight icons - large desktops */ 
@media (min-width: 1200px) {
	.grid-entry {
		width: calc(12.5% - 12px);
	}
}

.grid-entry .panel {
	margin-bottom: 0;
}
.grid-entry .panel-body {
	height: 160px;
	padding: 0;
}
.grid-icon {
	font-size: 6em;
	line-height: 150px;
	text-align: center;
}
.grid-img {
	background-size: cover;
	overflow: hidden;
}

/* LIST VIEW CSS */
.listview {
	padding: 0;
}

/* don't put a margin on directory view table - datatables used !important so we have to as well :( */
.listview #dir {
	margin-bottom: 0 !important; /* csslint allow: important */
	margin-top: 0 !important; /* csslint allow: important */
}

.table-hover thead tr:hover td {
	background-color: #f5f5f5;
}

tbody {
	text-decoration: none;
}

/* Browse mode (list) */
td.dentry {
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Table cell widths for multiple sizes */
@media (max-width: 768px) {
	td.dentry {
		max-width: 1px;
	}
}

@media (min-width: 768px) {
	td.dentry {
		max-width: 1px;
	}
}

@media (min-width: 992px) {
	td.dentry {
		max-width: 1px;
	}
	td.dentry-mtime {
		width: 15em;
	}
}

@media (min-width: 1200px) {
	td.dentry {
		max-width: 200px;
	}
	td.dentry-mtime {
		width: 15em;
	}
}

.no-items {
	opacity: 0.6;
	text-align: center;
}

/* bootstrap notify css */
[data-notify="progressbar"] {
	bottom: 0;
	height: 5px;
	left: 0;
	margin-bottom: 0;
	position: absolute;
	width: 100%;
}

/* mobile modals should take up the entire screen size */
@media (max-width: 768px) {
	.modal-dialog {
		margin: 0;
		min-height: 100%;
	}
	.modal-content {
		border-radius: 0;
		border: none;
		min-height: 100vh;
	}
	/* bootstrap 3 adds padding-left via javascript onto modals with more length than the viewport. bootstrap 3
	is EOL and unsupported (Even though bootstrap 4 isnt stable/released...) so we have to fix it here. as its
	done horribly via adding a style="" tag, we have to use !important to override :( */
	.modal {
		padding-left: 0 !important; /* csslint allow: important */
	}
}

/* on mobile, we need tabs to /always/ be shown, for settings modal. this way all the options are always visible*/
@media (max-width: 768px) {
	.tab-content > .tab-pane {
		display: block;
	}
}

/* rules for file details/click/properties modal */
.btn-label {
	margin-top: 5px;
}
@media (max-width: 768px) {
	.modal-body {
		padding: 10px;
	}
}
.details-small label {
	margin-bottom: 0;
}

#file-m label {
	font-weight: bold;
}

#file-m .form-group {
	margin-bottom: 5px;
}

#file-m-preview {
	margin-bottom: 20px;
}

.file-value {
	margin-bottom: 0;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-left: -15px;
}
.file-key {
	margin-bottom: 0;
	padding-top: 3px;
	text-align: right;
}
/* end of file details rules */
