html, body
{
	height: 100%;
}

ul.changelog
{
	list-style: none;
	margin: 0 0 10px 10px;
}

/* buttons on toolbar top right */
.inline-block {
	display: inline-block;
}
.bargate-navbar-btn {
	padding-right: 5px;
}
.navbar-right .dropdown-menu-auto {
	left: auto;
	right: auto;
}

/* Error pages error in middle of screen */
.jumbotron-alert
{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/* file uploads */
.fileinput-button {
	position: relative;
	overflow: hidden;
}
.fileinput-button input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	-ms-filter: 'alpha(opacity=0)';
	font-size: 200px;
	direction: ltr;
	cursor: pointer;
}

/* Prevent themes from putting borders on tables */ 
.table-nl>thead>tr>th, .table-nl>tbody>tr>th, .table-nl>tfoot>tr>th, .table-nl>thead>tr>td, .table-nl>tbody>tr>td, .table-nl>tfoot>tr>td
{
	border-bottom: none;
	border-top: none;
}

/* On the popup dialog for file clicking the table needs padding above it */
.table-file-click
{
	margin-top: 20px;
}

#prefs-m h5:first-of-type
{
	margin-top: 0px;
}

#prefs-m h5
{
	margin-top: 40px;
	margin-bottom: 10px;
}


/* overflow text properly on panel labels */
.grid-entry .panel-footer {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.efile .panel-footer {
	text-align: center;
}

.efile, .edir, .eshare {
	cursor: pointer;
}


.eshare .panel-footer {
	text-align: center;
}

/* wrap tooltips properly */
.grid-entry .tooltip-inner {
	white-space:pre-wrap;
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

/* mobile rules */
.gridview {
	padding-left: 0px;
	padding-right: 0px;
}

.grid-entry {
	margin-top: 4px;
	margin-right: 4px;
	width: calc(50% - 4px);
}

.gridview ol.breadcrumb {
	margin-bottom: 0px;
}

@media (max-width: 768px) {
	.gridview #dirs, .gridview #files {
		margin-left: 4px;
	}
}

/* four icons - small desktops */ 
@media (min-width: 768px) {
	.gridview {
		padding-left: 12px;
		padding-right: 0px;
		padding-bottom: 12px;
	}
	.grid-entry {
		margin-top: 12px;
		margin-right: 12px;
		width: calc(25% - 12px);
	}
	.gridview ol.breadcrumb {
		margin-right: 12px;
	}

}

/* six icons - medium desktops */ 
@media (min-width: 992px) {
	.grid-entry {
		width: calc(16.666666667% - 12px);
	}
}

/* eight icons - large desktops */ 
@media (min-width: 1200px) {
	.grid-entry {
		width: calc(12.5% - 12px);
	}
}

.grid-entry .panel {
	margin-bottom: 0px;
}
.grid-entry .panel-body {
	height: 160px;
	padding: 0px;
}
.grid-icon {
	font-size: 6em;
	line-height: 150px;
	text-align: center;
}
.grid-img {
	background-size: cover;
	overflow: hidden;
}

/* LIST VIEW CSS */
.listview {
	padding: 0px;
}

/* don't put a margin on directory view table - datatables used !important so we have to as well :( */
.listview #dir
{
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.table-hover thead tr:hover td
{
	background-color: #f5f5f5;
}

.table td
{
	vertical-align: middle !important;
}

/* Make sure no underlines on a's in tables pls - For flatly theme mostly */
.table a, table a
{
	text-decoration: none !important;
}

tbody
{
	text-decoration: none;
}

/* Browse mode (list) */
td.dentry
{
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Table cell widths for multiple sizes */
@media (max-width: 768px)
{
	td.dentry
	{
		max-width: 1px;
	}
}

@media (min-width: 768px)
{
	td.dentry
	{
		max-width: 1px;
	}
}

@media (min-width: 992px)
{
	td.dentry
	{
		max-width: 1px;
	}
	td.dentry-mtime
	{
		width: 15em;
	}
}

@media (min-width: 1200px)
{
	td.dentry
	{
		max-width: 200px;
	}
	td.dentry-mtime
	{
		width: 15em;
	}
}

.no-items {
	text-align: center;
	opacity: 0.6;
}

[data-notify="progressbar"] {
	margin-bottom: 0px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 5px;
}
