html, body
{
	height: 100%;
}

/* The changelog list type */
ul.changelog
{
	list-style: none;
	margin: 0 0 10px 10px;
}

/* Word-wrap break word on alerts where very long filenames could overrun */
.alert
{
	word-wrap: break-word;
}

/* buttons on toolbar top right */
.inline-block {
	display: inline-block;
}
.bargate-navbar-btn {
	padding-right: 5px;
}
.navbar-right .dropdown-menu-auto {
	left: auto;
	right: auto;
}

/* Error pages error in middle of screen */
.jumbotron-alert
{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/* directory/browse mode and bookmark table clickables */
.entry-click {
	cursor: pointer;
}

/* file uploads */
.fileinput-button {
	position: relative;
	overflow: hidden;
}
.fileinput-button input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	-ms-filter: 'alpha(opacity=0)';
	font-size: 200px;
	direction: ltr;
	cursor: pointer;
}

/* flexbox based same-size panel in columns */
@media (min-width: 992px)
{
	.equal, .equal > div[class*='col-']
	{
		display: -webkit-flex;
		display: flex;
		flex: 1 1 auto;
	}

	.panel-equal
	{
		width: 100%;
	}
}

/* Prevent themes from putting borders on tables */ 
.table-nl>thead>tr>th, .table-nl>tbody>tr>th, .table-nl>tfoot>tr>th, .table-nl>thead>tr>td, .table-nl>tbody>tr>td, .table-nl>tfoot>tr>td
{
	border-bottom: none;
	border-top: none;
}

/* On the popup dialog for file clicking the table needs padding above it */
.table-file-click
{
	margin-top: 20px;
}

.form-horizontal-compact .form-group
{
	margin-bottom: 0px;
}
