.gridview .entry-file-grid {
	text-align: center;
}

.gridview .entry {
	width: 200px;
	position: relative;
	float: left;
	margin-top: 24px;
	margin-right: 24px;
}

/* overflow text properly on panel labels */
.gridview .panel-footer {
	 text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

/* wrap tooltips properly */
.gridview .tooltip-inner {
	white-space:pre-wrap;
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

/* mobile rules */
.gridview {
	padding-left: 0px;
	padding-right: 0px;
}

.gridview .entry {
	margin-top: 4px;
	margin-right: 4px;
	width: calc(50% - 4px);
}

.gridview ol.breadcrumb {
	margin-bottom: 0px;
}

/* four icons - small desktops */ 
@media (min-width: 768px) {
	.gridview {
		padding-left: 12px;
		padding-right: 0px;
		padding-bottom: 12px;
	}
	.gridview .entry {
		margin-top: 12px;
		margin-right: 12px;
		width: calc(25% - 12px);
	}
	.gridview ol.breadcrumb {
		margin-right: 12px;
	}
}

/* six icons - medium desktops */ 
@media (min-width: 992px) {
	.gridview .entry {
		width: calc(16.666666667% - 12px);
	}
}

/* eight icons - large desktops */ 
@media (min-width: 1200px) {
	.gridview .entry {
		width: calc(12.5% - 12px);
	}
}

.gridview .panel {
	margin-bottom: 0px;
}
.gridview .panel-body {
	height: 160px;
	padding: 0px;
}
.gridview .panel-icon {
	font-size: 6em;
	line-height: 150px;
}
.gridview .panel-img {
	background-size: cover;
	overflow: hidden;
}
