.container-browse {
	padding: 0px;
}

/* don't put a margin on directory view table - datatables used !important so we have to as well :( */
#dir
{
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.table-hover thead tr:hover td
{
	background-color: #f5f5f5;
}

/* MAKE BOOTSTRAP DO VERTICAL ALIGN IN TABLES, DUH? */
.table td
{
	vertical-align: middle !important;
}

/* Make sure no underlines on a's in tables pls - For flatly theme mostly */
.table a, table a
{
	text-decoration: none !important;
}

tbody
{
	text-decoration: none;
}

/* Browse mode (list) */
td.dentry
{
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Table cell widths for multiple sizes */
@media (max-width: 768px)
{
	td.dentry
	{
		max-width: 1px;
	}
}

@media (min-width: 768px)
{
	td.dentry
	{
		max-width: 1px;
	}
}

@media (min-width: 992px)
{
	td.dentry
	{
		max-width: 1px;
	}
	td.dentry-mtime
	{
		width: 15em;
	}
}

@media (min-width: 1200px)
{
	td.dentry
	{
		max-width: 200px;
	}
	td.dentry-mtime
	{
		width: 15em;
	}
}
