html, body {
	height: 100%;
}

.container-fluid, .row {
	height: 100%;
}

.col-login {
	background-color: #fff;
	height: 100%;
	box-shadow: 5px 0 10px 0 rgba(0,0,0,0.50);
}

@media (min-width: 768px) {
	.col-login {
		max-width: 500px;
	}
}

.login-box {
	height: 100%;
	padding: 20px; /* csslint allow: box-model */
}

body {
	height: 100%;
	color: #777777;
}

.login-title {
	margin-top: 15vh;
	margin-bottom: 8vh;
	font-size: 4vh;
}

.form-group {
	margin-bottom: 1.5em;
}

/*.btn-lg {
	font-size: 25px;
	font-weight: 200;
}*/

.footer {
	position: absolute;
	bottom: 30px;
}

.about-logo {
	color: #666;
	font-size: 20em;
	width: 100%;
}

.about-ver {
	font-weight: 900;
	color: #fff;
}

.about-title {
	font-weight: 900;
	font-family: Oswald;
	color: #fff;
}

.about-subtitle {
	font-size: 25px;
}
