/* import font */
@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300);

html, body {
	height: 100%;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
}

body {
	background: rgba(245, 245, 245, 0.90);
	height: 100%;
}

@media (min-width: 768px) {
	body {
		color: #777777;
	}
}

label {
	font-size: 1em;
	font-weight: 200;
}

.loginbox h1 {
	margin-bottom: 20px;
	text-align: center;
	font-weight: 200;
	font-size: 22px;
}

@media (min-width: 768px) {
	.loginbox {
		margin-top: 70px;
		width: 450px;
		background: rgba(245, 245, 245, 0.90);
		padding: 20px;
		margin-left: auto;
		margin-right: auto;
		border: 1px solid #777777;
		border-radius: 20px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
	}

	.loginbox h1 {
		margin-top: 10px;
		font-size: 40px;
	}
}

.form-group {
	margin-bottom: 1.5em;
}

.login-input {
	height: 2.0em;
	line-height: 1em;
	font-size: 1.8em;
	margin-bottom: 0;
	color: #666666;
}

.btn-lg {
	font-weight: 200;
}
