body {
	padding-top: 56px;
	padding-bottom: 0px;
}

@media (min-width: 768px) {
	body {
		padding-top: 80px;
	}
}

@media (max-width: 768px) {
	.container-body {
		padding-bottom: 75px;
	}
}

.btn {
	padding: 0.5rem 0.75rem;
}

.navbar-brand {
	font-size: 20px;
}
