body {
	padding-top: 58px;
	padding-bottom: 0px;
}

@media (min-width: 768px) {
	body {
		padding-top: 70px;
	}
}

@media (max-width: 768px) {
	.container-body {
		padding-bottom: 50px;
	}
}

.navbar-brand, .nav-link {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
