body
{
	padding-top: 60px;
	padding-bottom: 0px;
}

@media (min-width: 768px)
{
	body
	{
		padding-top: 70px;
	}
}

.fcog
{
	text-decoration: none !important;
}

/* don't put a margin on directory view table at the bottom */
#dir
{
	margin-bottom: 0px;
}

/* clickable rows should have a mouse pointer */
.rowclick-tr
{
	cursor: pointer; 
}

.table-hover thead tr:hover td
{
	background-color: #f5f5f5;
}

@media (min-width: 768px)
{
	.error-block
	{
		padding-top: 80px;
	
		position:fixed !important;
		position:absolute;
		top:0;
		right:0;
		bottom:0;
		left:0;
	
		background-image: url("/static/images/fire.jpg");
		background-size: cover;
		color: #fffff;
		text-align: center;
	
		overflow: auto;
	}
	
	.error-text
	{
		color: #ffffff;
		text-shadow:
		   3px 3px 0 #000,
		 -1px -1px 0 #000,  
		  1px -1px 0 #000,
		  -1px 1px 0 #000,
		   1px 1px 0 #000;
	}
	.error-img
	{
		font-size: 10em;
	}
	.error-header
	{
		font-size: 3em;
	}
	.error-body
	{
		font-size: 1.5em;
		margin-left: 10%;
		margin-right: 10%;
	}
}
@media (max-width: 767px)
{
	.error-block
	{
		padding-top: 80px;
		text-align: center;
	}
	.error-text
	{
		color: #000000;
	}
	.error-img
	{
		font-size: 5em;
	}
	.error-header
	{
		font-size: 2em;
	}
	.error-body
	{
		font-size: 1.2em;
		margin-left: 5%;
		margin-right: 5%;
	}
}

.error-debug pre
{
	margin-top: 10px;
	background-color: #ffffff;
	margin-left: 10%;
	margin-right: 10%;
	text-align: left;
	border: 3px #000000 solid;
}
	
/* MAKE BOOTSTRAP DO VERTICAL ALIGN IN TABLES, DUH? */
.table td
{
	vertical-align: middle !important;
}

/* Prevent themes from putting borders on tables */ 
.table-nl>thead>tr>th, .table-nl>tbody>tr>th, .table-nl>tfoot>tr>th, .table-nl>thead>tr>td, .table-nl>tbody>tr>td, .table-nl>tfoot>tr>td
{
	border-bottom: none;
	border-top: none;
}

/* Make sure no underlines on a's in tables pls - For flatly theme mostly */
.table a, table a
{
	text-decoration: none !important;
}

.action-btns
{
	margin-right: 15px;
}

/* The changelog list type */
ul.changelog
{
	list-style: none;
	margin: 0 0 10px 10px;
}

/* Get rid of padding when we're in browse mode so directories go right up to screen edge */
.container-directory
{
	padding: 0px;
}

/* Use a custom icon from FontAwesome for the breadcrumb separator */
.breadcrumb > li + li:before {
padding: 0 5px;
color: #cccccc;
font-family: FontAwesome;
content: "\f061";
}

/* Word-wrap break word on alerts where very long filenames could overrun */
.alert
{
	word-wrap: break-word;
}

/*
 * Table sorter stuff
 */
 
.tablesorter-header
{
	background-image: url('/static/images/bg.gif');
	cursor: pointer; 
	font-weight: bold; 
	background-repeat: no-repeat; 
	background-position: center left;
	padding-left: 20px !important;
}
.tablesorter-headerAsc
{
	background-image: url('/static/images/asc.gif');
}
.tablesorter-headerDesc
{
	background-image: url('/static/images/desc.gif');
}
.tsdisable
{
	background-image: none;
}
tr.tsdisable td
{
	background-image: none;
}

td.dentry
{
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Table cell widths for multiple sizes (not tablesorter stuff */
@media (max-width: 768px)
{
	td.dentry
	{
		max-width: 1px;
	}
}

@media (min-width: 768px)
{
	td.dentry
	{
		max-width: 1px;
	}
}

@media (min-width: 992px)
{
	td.dentry
	{
		max-width: 1px;
	}
	td.dentry-mtime
	{
		width: 15em;
	}
}

@media (min-width: 1200px)
{
	td.dentry
	{
		max-width: 200px;
	}
	td.dentry-mtime
	{
		width: 15em;
	}
}

/** FILE UPLOAD **/


.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}

