body
{
	padding-top: 60px;
	padding-bottom: 0px;
}

@media (min-width: 768px)
{
	body
	{
		padding-top: 70px;
	}
}

/* don't put a margin on directory view table at the bottom */
#dir
{
	margin-bottom: 0px;
}

/* clickable rows should have a mouse pointer */
.rowclick-tr
{
	cursor: pointer; 
}
/* clickable rows need a mouse pointer change to indicate clickyness */
.table-hover.rowclick-table tr:hover td,
.table-hover .rowclick-table tr:hover td
{
	background-color: #cfcfcf;
}

/* Define a class for buttons to have borders
.btn-border-white
{
	border-color: #ffffff;
}
.btn-border-white:hover
{
	border-color: #CCCCCC;
}
*/

/* horrible modal center 'hack' -  but its so simple that is just DELICIOUS */
.modal
{
	padding-top: 15%;
}

/* MAKE BOOTSTRAP DO VERTICAL ALIGN IN TABLES, DUH? */
.table td
{
	vertical-align: middle !important;
}

/* Prevent themes from putting borders on tables */ 
.table-nl>thead>tr>th, .table-nl>tbody>tr>th, .table-nl>tfoot>tr>th, .table-nl>thead>tr>td, .table-nl>tbody>tr>td, .table-nl>tfoot>tr>td
{
	border-bottom: none;
	border-top: none;
}

/* Make sure no underlines on a's in tables pls - For flatly theme mostly */
.table a, table a
{
	text-decoration: none;
}

.action-btns
{
	margin-right: 15px;
}

/* The changelog list type */
ul.changelog
{
	list-style: none;
	margin: 0 0 10px 10px;
}

/* Get rid of padding when we're in browse mode so directories go right up to screen edge */
.container-directory
{
	padding: 0px;
}

/* Use a custom icon from FontAwesome for the breadcrumb separator */
.breadcrumb > li + li:before {
padding: 0 5px;
color: #cccccc;
font-family: FontAwesome;
content: "\f061";
}

/*
 * Table sorter stuff
 */
 
.tablesorter-header
{
	background-image: url('/static/images/bg.gif');
	cursor: pointer; 
	font-weight: bold; 
	background-repeat: no-repeat; 
	background-position: center left;
	padding-left: 20px !important;
}
.tablesorter-headerAsc
{
	background-image: url('/static/images/asc.gif');
}
.tablesorter-headerDesc
{
	background-image: url('/static/images/desc.gif');
}
.tsdisable
{
	background-image: none;
}

td.dentry
{
	overflow: hidden;
	text-overflow: ellipsis;
}

@media (max-width: 768px)
{
	td.dentry
	{
		max-width: 1px;
	}
}

@media (min-width: 768px)
{
	td.dentry
	{
		max-width: 1px;
	}
}

@media (min-width: 992px)
{
	td.dentry
	{
		max-width: 1px;
	}
	td.dentry-mtime
	{
		width: 15em;
	}
}

@media (min-width: 1200px)
{
	td.dentry
	{
		max-width: 200px;
	}
	td.dentry-mtime
	{
		width: 15em;
	}
}
