.icomoon-32
{
	font-size: 32px;
}
.icomoon-16
{
	font-size: 16px;
}

@font-face
{
	font-family: 'icomoon';
	src:url('/static/fonts/icomoon.eot?-f7ythd');
	src:url('/static/fonts/icomoon.eot?#iefix-f7ythd') format('embedded-opentype'),
		url('/static/fonts/icomoon.woff?-f7ythd') format('woff'),
		url('/static/fonts/icomoon.ttf?-f7ythd') format('truetype'),
		url('/static/fonts/icomoon.svg?-f7ythd#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icomoon-"], [class*=" icomoon-"]
{
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.icomoon-newspaper:before {
	content: "\e656";
}
.icomoon-pencil:before {
	content: "\e657";
}
.icomoon-pencil2:before {
	content: "\e658";
}
.icomoon-paint-format:before {
	content: "\e659";
}
.icomoon-image:before {
	content: "\e600";
}
.icomoon-image2:before {
	content: "\e601";
}
.icomoon-images:before {
	content: "\e602";
}
.icomoon-camera:before {
	content: "\e65a";
}
.icomoon-music:before {
	content: "\e65b";
}
.icomoon-headphones:before {
	content: "\e65c";
}
.icomoon-play:before {
	content: "\e65d";
}
.icomoon-film:before {
	content: "\e65e";
}
.icomoon-camera2:before {
	content: "\e65f";
}
.icomoon-book:before {
	content: "\e603";
}
.icomoon-books:before {
	content: "\e604";
}
.icomoon-file:before {
	content: "\e605";
}
.icomoon-profile:before {
	content: "\e606";
}
.icomoon-file2:before {
	content: "\e607";
}
.icomoon-file3:before {
	content: "\e608";
}
.icomoon-file4:before {
	content: "\e609";
}
.icomoon-copy:before {
	content: "\e60a";
}
.icomoon-copy2:before {
	content: "\e60b";
}
.icomoon-copy3:before {
	content: "\e60c";
}
.icomoon-paste:before {
	content: "\e60d";
}
.icomoon-paste2:before {
	content: "\e60e";
}
.icomoon-paste3:before {
	content: "\e60f";
}
.icomoon-stack:before {
	content: "\e610";
}
.icomoon-folder:before {
	content: "\e646";
}
.icomoon-folder-open:before {
	content: "\e650";
}
.icomoon-tag:before {
	content: "\e660";
}
.icomoon-tags:before {
	content: "\e661";
}
.icomoon-address-book:before {
	content: "\e611";
}
.icomoon-notebook:before {
	content: "\e612";
}
.icomoon-calendar:before {
	content: "\e613";
}
.icomoon-calendar2:before {
	content: "\e614";
}
.icomoon-cabinet:before {
	content: "\e615";
}
.icomoon-drawer:before {
	content: "\e616";
}
.icomoon-drawer2:before {
	content: "\e617";
}
.icomoon-drawer3:before {
	content: "\e618";
}
.icomoon-box-add:before {
	content: "\e662";
}
.icomoon-box-remove:before {
	content: "\e663";
}
.icomoon-download:before {
	content: "\e664";
}
.icomoon-upload:before {
	content: "\e665";
}
.icomoon-disk:before {
	content: "\e619";
}
.icomoon-storage:before {
	content: "\e61a";
}
.icomoon-key:before {
	content: "\e61b";
}
.icomoon-key2:before {
	content: "\e61c";
}
.icomoon-lock:before {
	content: "\e61d";
}
.icomoon-lock2:before {
	content: "\e61e";
}
.icomoon-unlocked:before {
	content: "\e61f";
}
.icomoon-wrench:before {
	content: "\e620";
}
.icomoon-settings:before {
	content: "\e621";
}
.icomoon-equalizer:before {
	content: "\e622";
}
.icomoon-cog:before {
	content: "\e623";
}
.icomoon-cog2:before {
	content: "\e651";
}
.icomoon-hammer:before {
	content: "\e624";
}
.icomoon-pie:before {
	content: "\e666";
}
.icomoon-gift:before {
	content: "\e652";
}
.icomoon-hammer2:before {
	content: "\e653";
}
.icomoon-road:before {
	content: "\e667";
}
.icomoon-powercord:before {
	content: "\e668";
}
.icomoon-signup:before {
	content: "\e669";
}
.icomoon-menu:before {
	content: "\e625";
}
.icomoon-menu2:before {
	content: "\e626";
}
.icomoon-tree:before {
	content: "\e627";
}
.icomoon-cloud:before {
	content: "\e66a";
}
.icomoon-cloud-download:before {
	content: "\e66b";
}
.icomoon-cloud-upload:before {
	content: "\e66c";
}
.icomoon-download2:before {
	content: "\e66d";
}
.icomoon-upload2:before {
	content: "\e66e";
}
.icomoon-download3:before {
	content: "\e66f";
}
.icomoon-upload3:before {
	content: "\e670";
}
.icomoon-globe:before {
	content: "\e654";
}
.icomoon-earth:before {
	content: "\e655";
}
.icomoon-link:before {
	content: "\e628";
}
.icomoon-flag:before {
	content: "\e629";
}
.icomoon-attachment:before {
	content: "\e62a";
}
.icomoon-bookmark:before {
	content: "\e671";
}
.icomoon-bookmarks:before {
	content: "\e672";
}
.icomoon-warning:before {
	content: "\e62b";
}
.icomoon-notification:before {
	content: "\e62c";
}
.icomoon-question:before {
	content: "\e62d";
}
.icomoon-info:before {
	content: "\e62e";
}
.icomoon-info2:before {
	content: "\e62f";
}
.icomoon-blocked:before {
	content: "\e630";
}
.icomoon-cancel-circle:before {
	content: "\e631";
}
.icomoon-checkmark-circle:before {
	content: "\e632";
}
.icomoon-spam:before {
	content: "\e633";
}
.icomoon-close:before {
	content: "\e634";
}
.icomoon-checkmark:before {
	content: "\e635";
}
.icomoon-checkmark2:before {
	content: "\e636";
}
.icomoon-volume-high:before {
	content: "\e673";
}
.icomoon-volume-medium:before {
	content: "\e674";
}
.icomoon-arrow-up:before {
	content: "\e675";
}
.icomoon-arrow-right:before {
	content: "\e676";
}
.icomoon-arrow-down:before {
	content: "\e677";
}
.icomoon-arrow-left:before {
	content: "\e678";
}
.icomoon-arrow-up2:before {
	content: "\e679";
}
.icomoon-arrow-right2:before {
	content: "\e67a";
}
.icomoon-arrow-down2:before {
	content: "\e67b";
}
.icomoon-arrow-left2:before {
	content: "\e67c";
}
.icomoon-arrow-up3:before {
	content: "\e67d";
}
.icomoon-arrow-right3:before {
	content: "\e67e";
}
.icomoon-arrow-down3:before {
	content: "\e67f";
}
.icomoon-arrow-left3:before {
	content: "\e680";
}
.icomoon-checkbox-checked:before {
	content: "\e637";
}
.icomoon-checkbox-unchecked:before {
	content: "\e638";
}
.icomoon-checkbox-partial:before {
	content: "\e639";
}
.icomoon-radio-checked:before {
	content: "\e63a";
}
.icomoon-radio-unchecked:before {
	content: "\e63b";
}
.icomoon-table:before {
	content: "\e63c";
}
.icomoon-table2:before {
	content: "\e63d";
}
.icomoon-insert-template:before {
	content: "\e63e";
}
.icomoon-embed:before {
	content: "\e63f";
}
.icomoon-code:before {
	content: "\e640";
}
.icomoon-console:before {
	content: "\e641";
}
.icomoon-mail:before {
	content: "\e642";
}
.icomoon-mail2:before {
	content: "\e643";
}
.icomoon-mail3:before {
	content: "\e644";
}
.icomoon-mail4:before {
	content: "\e645";
}
.icomoon-libreoffice:before {
	content: "\e647";
}
.icomoon-file-pdf:before {
	content: "\e648";
}
.icomoon-file-openoffice:before {
	content: "\e649";
}
.icomoon-file-word:before {
	content: "\e64a";
}
.icomoon-file-excel:before {
	content: "\e64b";
}
.icomoon-file-zip:before {
	content: "\e64c";
}
.icomoon-file-powerpoint:before {
	content: "\e64d";
}
.icomoon-file-xml:before {
	content: "\e64e";
}
.icomoon-file-css:before {
	content: "\e64f";
}