{%- extends "base.html" -%}
{%- block modals -%}
<div id="ctx-menu-file" class="dropdown-menu" role="menu">
	<a id="ctx-menu-view" class="dropdown-item d-none" tabindex="-1" href="#view" data-action="view"><span class="fas fa-fw fa-eye"></span> View</a>
	<a class="dropdown-item" tabindex="-1" href="#download" data-action="download"><span class="fas fa-fw fa-download"></span> Download</a>
	<a class="dropdown-item" tabindex="-1" href="#copy" data-action="copy"><span class="far fa-fw fa-copy"></span> Copy</a>
	<a class="dropdown-item" tabindex="-1" href="#rename" data-action="rename"><span class="far fa-fw fa-edit"></span> Rename</a>
	<a class="dropdown-item" tabindex="-1" href="#delete" data-action="delete"><span class="far fa-fw fa-trash-alt"></span> Delete</a>
	<div class="dropdown-divider"></div>
	<a class="dropdown-item" tabindex="-1" href="#" data-action="properties"><span class="fas fa-fw fa-info-circle"></span> Details</a>
</div>
<div id="ctx-menu-dir" class="dropdown-menu" role="menu">
	<a class="dropdown-item" tabindex="-1" href="#open" data-action="open"><span class="far fa-fw fa-folder-open"></span> Open</a>
	<a class="dropdown-item" tabindex="-1" href="#rename" data-action="rename"><span class="far fa-fw fa-edit"></span> Rename</a>
	<a class="dropdown-item" tabindex="-1" href="#delete" data-action="delete"><span class="far fa-fw fa-trash-alt"></span> Delete</a>
</div>
{%- endblock %}
