<div class="dropdown">
	<a class="nav-link px-0" href="#"><span class="fas fa-fw fa-star mr-2"></span> Servers?</a>
	<a class="nav-link px-0" href="#" data-click="bmarks"><span class="fas fa-fw fa-bookmark mr-2"></span> Bookmarks</a>
	{% if config.connect %}
	<a class="nav-link px-0" href="#" data-click="connect"><span class="fas fa-fw fa-hdd mr-2"></span> Connect to server</a>
	{% endif %}
	<div class="dropdown-divider"></div>
	{% if config.search %}
	<a class="nav-link px-0 b-search" href="#" data-click="search"><span class="fas fa-fw fa-search mr-2"></span> Search</a>
	{% endif %}
	{% if config.userdata %}
	<a class="nav-link px-0 b-layout" href="#" data-click="layout"><span class="fas fa-fw fa-list mr-2 layout-ico"></span> Switch layout</a>
	{% endif %}
	{% if config.search or config.userdata %}
	<div class="dropdown-divider"></div>
	{% endif %}
	<a class="nav-link px-0" href="http://bargate.io"><span class="fas fa-fw fa-life-ring mr-2"></span> Help</a>
	<a class="nav-link px-0" href="#" data-click="about"><span class="fas fa-fw fa-info-circle mr-2"></span> About</a>
	{% if config.userdata %}
	<a class="nav-link px-0" href="#" data-click="settings"><span class="fas fa-fw fa-cog mr-2"></span> Settings</a>
	{% endif %}
	<div class="dropdown-divider"></div>
	<a class="nav-link px-0" href="/logout"><span class="fas fa-fw fa-sign-out-alt mr-2"></span> Sign out</a>
</div>
