{% extends "layout.html" %}
{% block body %}

<style type="text/css">
.logo
{
	font-family: 'Oswald', sans-serif;
	margin: 0px;
	font-size: 8em;
	line-height: 0.8;
}
</style>
<link href='https://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>

<div class="row equal">
	<div class="col-sm-8">
		<div class="panel panel-equal panel-default">	
			<div class="panel-heading">
				<h4 class="panel-title">About</h4>
			</div>
			<div class="panel-body">
				<div class="text-center">	
					<h1 class="logo"><i class="fa fa-university fa-fw"></i></h1>
					<h1 class="logo"><strong>bargate</strong></h1>
					<br/>
					<h3>A lightweight web based CIFS/SMB client</h3>
					<h3>Version {{ config.VERSION }}</h3>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="panel panel-equal panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">Project Information</h4>
			</div>
			<div class="panel-body">
				<p>
				Bargate was written by <a href="http://www.evad.io">David Bell</a>, <a href="http://www.claytonpeters.co.uk">Clayton Peters</a> and <a href="http://unixnation.net">Steve Kirk</a> to provide academic instituions with a free and modern file store client for the web.
				</p>
				<ul class="nav nav-list">
					<li><a href="http://bargate.io"><i class="fa fa-fw fa-globe"></i> Bargate Website</a></li>
					<li><a href="http://github.com/divad/bargate"><i class="fa fa-fw fa-github-alt"></i> GitHub Project Page</a></li>
					<li><a href="{{ url_for('changelog') }}"><i class="fa fa-fw fa-list-alt"></i> View Changelog</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

{% endblock %}
