{% if config['REDIS_ENABLED'] %}
<li><a href="{{ url_for('settings') }}"><i class="fa fa-gears fa-fw"></i> Settings</a></li>
{% endif %}
{% if config['TOTP_ENABLED'] %}
<li><a href="{{ url_for('totp_user_view') }}"><i class="fa fa-lock fa-fw"></i> Two Step Protection</a></li>
{% endif %}
{%- include 'user-menu.html' %}
<li class="divider"></li>
{%- include 'help-menu.html' %}
<li><a href="{{ url_for('about') }}"><i class="fa fa-fw fa-star"></i> About</a></li>
<li class="divider"></li>
<li><a href="{{ url_for('logout') }}"><i class="fa fa-sign-out fa-fw"></i> Sign Out</a></li>
