{% extends "layout.html" %}
{% block body %}

<div class="panel panel-default">
	<div class="panel-header">
		<h1>Changelog</h1>
	</div>
	<div class="panel-body">
		<h3>0.10.3</h3>
		<p>Released 2014-04-14</p>
		<ul class="changelog">
			<li><i class="fa fa-wrench"></i> Reduced code size for directory entries by using text overflow correctly</li>
			<li><i class="fa fa-wrench"></i> Reduced code size for directory entries by using javascript functions to trigger modals</li>
			<li><i class="fa fa-wrench"></i> Reduced code size in HTML templates all over the place</li>
		</ul>

		<h3>0.10.2</h3>
		<p>Released 2014-04-14</p>
		<ul class="changelog">
			<li><i class="fa fa-wrench"></i> Fixed a unicode/urllib bug on directory entries</li>
		</ul>
	
		<h3>0.10.1</h3>
		<p>Released 2014-04-13</p>
		<ul class="changelog">
			<li><i class="fa fa-wrench"></i> Fixed a bug in the permission denied password checking code</li>
			<li><i class="fa fa-bolt"></i> Added "other" item to directory views for illustrative purposes only</li>
			<li><i class="fa fa-bolt"></i> Clicking yes in a delete modal popup will now change to 'Deleting' to indicate feedback</li>
			<li><i class="fa fa-wrench"></i> Fixed the display name on file properties/view</li>
		</ul>
	
		<h3>0.10</h3>
		<p>Released 2014-04-13</p>
		<ul class="changelog">
			<li><i class="fa fa-bolt"></i> New code branch. Significant user interface re-write</li>
			<li><i class="fa fabolt"></i> Sidebar removed, much better mobile view. Interface menus moved to navbars.</li>
			<li><i class="fa fa-bolt"></i> User interface re-written in Bootstrap 3.1 (was Bootstrap 2.3)</li>
			<li><i class="fa fa-bolt"></i> Icon library updated to Font Awesome 4.0</li>
			<li><i class="fa fa-bolt"></i> Significantly better MIME to Icon support</li>
			<li><i class="fa fa-bolt"></i> Added support for displaying file owner and group metadata (via winbind)</li>
			<li><i class="fa fa-bolt"></i> Added theme support - user can choose a web design theme to use</li>
			<li><i class="fa fa-bolt"></i> When users click on files they now see a popup with some info a link to download the file rather than just downloading the file</li>
			<li><i class="fa fa-bolt"></i> Added proper table sorter functionality</li>
			<li><i class="fa fa-bolt"></i> render_page function added which builds all default URLs for all pages</li>
			<li><i class="fa fa-bolt"></i> Each area of FWA now has a 'display name' so that the breadcrumb displays where you are rather than 'Home'</li>
			<li><i class="fa fa-bolt"></i> Replaced popover menus on files/dirs with dropdown/dropup menus</li>
			<li><i class="fa fa-wrench"></i> All javascript and CSS moved out to seperate files</li>
			<li><i class="fa fa-wrench"></i> Major cleanup of HTML, CSS and Javascript to reduce clutter and remove old code</li>
			<li><i class="fa fa-wrench"></i> SMB engine now prevents users from viewing the root directory</li>
			<li><i class="fa fa-wrench"></i> Permission denied errors where password is wrong now asks the user to logon again</li>
		</ul>

		<h3>0.9.9</h3>
		<p>Released 2013-10-08</p>
		<ul class="changelog">
			<li><i class="fa fa-wrench"></i> Fixed error where popup menus where conflicting with table rows</li>
			<li><i class="fa fa-wrench"></i> Complete re-write of unicode and URL handling to fix multiple bugs</li>
		</ul>

		<h3>0.9.8</h3>
		<p>Released 2013-09-20</p>
		<ul class="changelog">
			<li><i class="fa fa-bolt"></i> Introduced all-new dropdown menu mobile view making FWA significantly easier to use on mobile phones</li>
			<li><i class="fa fa-bolt"></i> Modified date now listed inside directories</li>
			<li><i class="fa fa-wrench"></i> Fixed tablet (iPad mostly) portrait view mode - sidebar width improved</li>
			<li><i class="fa fa-wrench"></i> Fixed error with directory entries containing &#37;20</li>
			<li><i class="fa fa-wrench"></i> Fixed bug where row clicks activated when clicking popup menus</li>
		</ul>

		<h3>0.9.7</h3>
		<p>Released 2013-08-13</p>
		<ul class="changelog">
			<li><i class="fa fa-wrench"></i> Fixed spacing on popup menu on directory entries</li>
			<li><i class="fa fa-bolt"></i> Changed default click behaviour on directory entries to download rather than view properties</li>
			<li><i class="fa fa-bolt"></i> Directory entry rows are now clickable, where as before only the text was clickable</li>
		</ul>

		<h3>0.9.6</h3>
		<p>Released 2013-05-07</p>
		<ul class="changelog">
			<li><i class="fa fa-wrench"></i> Fixed login template so that placeholders aren't used - this was confusing logins on IE8 and iPad</li>
			<li><i class="fa fa-wrench"></i> Added extensive logging to track failures</li>
			<li><i class="fa fa-wrench"></i> Permission denied errors when browsing into directories no longer generate full-page errors</li>
		</ul>

		<h3>0.9.5</h3>
		<p>Released 2013-05-06</p>
		<ul class="changelog">
			<li><i class="fa fa-wrench"></i> Fixed a bug in the sidebar for custom/other which prevented navigation</li>
			<li><i class="fa fa-wrench"></i> Fixed a bug in the CSRF protection code which produced a nonsensical error</li>
			<li><i class="fa fa-lock"></i> Security fix - path checking code now prevents users from navigating to erroneous paths</li>
			<li><i class="fa fa-wrench"></i> Added logging for various fwa actions</li>
			<li><i class="fa fa-bolt"></i> Improved error reporting e-mails to include various important extra details</li>
		</ul>

		<h3>0.9.4</h3>
		<p>Released 2013-04-10</p>
		<ul class="changelog">
			<li><i class="fa fa-bolt"></i> Full support for custom servers added</li>
			<li><i class="fa fa-bolt"></i> Full support for shared filestore added</li>
			<li><i class="fa fa-wrench"></i> Fixed several bugs</li>
			<li><i class="fa fa-wrench"></i> Less space wasted on mobile view</li>
		</ul>

		<h3>0.9.1</h3>
		<p>Released 2013-03-05</p>
		<ul class="changelog">
			<li><i class="fa fa-bolt"></i>  Files can now be copied</li>
			<li><i class="fa fa-bolt"></i>  Added experimental support for custom servers</li>
			<li><i class="fa fa-bolt"></i>  Added experimental support for shared filestore</li>
			<li><i class="fa fa-wrench"></i>  Fixed several bugs in the browse handler</li>
		</ul>

		<h3>0.9</h3>
		<p>Released 2013-03-03</p>
		<ul class="changelog">
			<li><i class="fa fa-bolt"></i>  Most errors now produce modal error dialogs rather than hard error pages</li>
			<li><i class="fa fa-wrench"></i>  Fixed several bugs in the download file handler</li>
			<li><i class="fa fa-wrench"></i>  Login background is hidden on small screens</li>
			<li><i class="fa fa-wrench"></i>  Lack of padding/header on signin screen now fixed</li>
			<li><i class="fa fa-wrench"></i>  Fixed bug where on mobile most pages had no padding around borders</li>
		</ul>

		<h3>0.8.9</h3>
		<ul class="changelog">
			<li><i class="fa fa-bolt"></i>  Mobile borders/padding removed so directory entries fill the mobile screen</li>
		</ul>

		<h3>0.8.8</h3>
		<ul class="changelog">
			<li><i class="fa fa-bolt"></i>  Updated to Bootstrap 2.3.1</li>
			<li><i class="fa fa-bolt"></i>  Updated to Font Awesome 3.0.1</li>
			<li><i class="fa fa-bolt"></i>  Added new simple sign in page, styled to branding</li>
		</ul>

		<h3>0.8.7</h3>
		<ul class="changelog">
			<li><i class="fa fa-bolt"></i>  Directories can now be deleted</li>
			<li><i class="fa fa-wrench"></i>  Internal smb code refactored to determine entry types via st_mode</li>
			<li><i class="fa fa-wrench"></i>  File uploads now detect if the target, when overwriting, is a directory</li>
		</ul>

		<h3>0.8.6</h3>
		<ul class="changelog">
			<li><i class="fa fa-bolt"></i>  Directories can now be renamed</li>
		</ul>		

		<h3>0.8.5</h3>
		<ul class="changelog">
			<li><i class="fa fa-bolt"></i>  Blank favicon added</li>
			<li><i class="fa fa-bolt"></i>  Pop-up menu for directories added (but rename/delete dir does not yet work)</li>
			<li><i class="fa fa-bolt"></i>  Logins restricted to iSolutions staff only</li>
		</ul>

		<h3>0.8.4</h3>
		<ul class="changelog">
			<li><i class="fa fa-bolt"></i>  Re-written top navigation bar, removes most items on mobile/tablet</li>
			<li><i class="fa fa-bolt"></i>  Introduced return-to redirect upon login functionality</li>
			<li><i class="fa fa-wrench"></i>  Totally re-written javascript popover implementation fixes interaction bug with dialog popups</li>
			<li><i class="fa fa-wrench"></i>  The rename pop up sets the value as the current filename rather than just a placeholder</li>
			<li><i class="fa fa-bolt"></i>  File uploads now allow spaces in filenames</li>
		</ul>

		<h3>0.8.3</h3>
		<ul class="changelog">
			<li><i class="fa fa-wrench"></i>  Changed 'cifsbridge' to 'bargate' in python code</li>
		</ul>
	</div>
</div>

{% endblock %}
