{%- extends "layout.html" -%}
{%- block body -%}
{%- include 'directory-modals.html' -%}
{%- include 'breadcrumbs.html' -%}

<ul id="fileContextMenu" class="dropdown-menu" role="menu" style="display:none">
	<li id="contextmenu_view" class="hidden"><a tabindex="-1" href="#" data-action="view"><i class="fa fa-fw fa-eye"></i> View</a></li>
	<li><a tabindex="-1" href="#" data-action="download"><i class="fa fa-fw fa-download"></i> Download</a></li>
	<li><a tabindex="-1" href="#" data-action="copy"><i class="fa fa-fw fa-clipboard"></i> Copy</a></li>
	<li><a tabindex="-1" href="#" data-action="rename"><i class="fa fa-fw fa-pencil-square-o"></i> Rename</a></li>
	<li><a tabindex="-1" href="#" data-action="delete"><i class="fa fa-fw fa-trash"></i> Delete</a></li>
	<li class="divider"></li>
	<li><a tabindex="-1" href="#" data-action="properties"><i class="fa fa-fw fa-eye"></i> Properties</a></li>
</ul>

<ul id="dirContextMenu" class="dropdown-menu" role="menu" style="display:none">
	<li><a tabindex="-1" href="#" data-action="open"><i class="fa fa-fw fa-folder-open"></i> Open</a></li>
	<li><a tabindex="-1" href="#" data-action="rename"><i class="fa fa-fw fa-pencil-square-o"></i> Rename</a></li>
	<li><a tabindex="-1" href="#" data-action="delete"><i class="fa fa-fw fa-trash"></i> Delete</a></li>
</ul>

<style type="text/css">


.entry-file
{
	text-align: center;
}
.entry
{
	width: 200px;
	position: relative;
	float: left;
	margin: 12px;
	cursor: pointer;
}
.panel
{
	margin-bottom: 0px;
}
.panel-body
{
	height: 160px;
	padding: 0px;
}
.panel-icon
{
	font-size: 6em;
	line-height: 150px;
}
.panel-img
{
	background-size: cover;
	overflow: hidden;
}

</style>


<div id="dirs">
	{%- for entry in dirs -%}
	<div class="entry entry-directory entry-open" data-url="{{ entry.default_open }}" data-filename="{{entry.name}}" data-path="{{entry.path}}">
		<div class="panel panel-default">
			<div class="panel-footer"><i class="{{entry.icon}}"></i> {{ entry.name|truncate(18,killwords=True)}}</div>
		</div>
	</div>
	{%- endfor -%}
</div>

<div style="clear: both"></div>

<div id="files">
	{%- for entry in files -%}
	{%- if on_file_click == 'ask' -%}
	<div class="entry entry-file entry-preview" data-raw-mtype="{{entry.mtype_raw}}" data-raw-mtime="{{ entry.mtime_raw }}" data-raw-size="{{ entry.size }}" data-icon="{{entry.icon}}" {% if entry.img_preview %}data-imgpreview="{{ entry.img_preview }}" {%endif%} {% if entry.bdownload %}data-view="{{ entry.bdownload }}" {%endif%} data-download="{{ entry.download }}" data-mtype="{{entry.mtype}}" data-props="{{ entry.view }}" data-filename="{{entry.name}}" data-mtime="{{entry.mtime}}" data-size="{{entry.size|filesizeformat}}" data-path="{{entry.path}}" data-url="{{ entry.default_open}}">
	{%- else %}
	<div class="entry entry-file entry-open" data-raw-mtype="{{entry.mtype_raw}}" data-raw-mtime="{{ entry.mtime_raw }}" data-raw-size="{{ entry.size }}" data-url="{{ entry.on_file_click }}" data-filename="{{entry.name}}" data-path="{{entry.path}}" data-download="{{ entry.download }}" data-props="{{ entry.view }}">
	{%- endif %}

		{%- if entry.img_preview -%}
		<div class="panel panel-default">
			<div class="panel-body panel-img" style="background-image: url('{{ entry.img_preview }}')"></div>
		{%- else -%}
		<div class="panel panel-default">
			<div class="panel-body panel-icon"><span class="{{ entry.icon }}"></span></div>
		{%- endif -%}
			<div class="panel-footer">{{ entry.name|truncate(18,killwords=True)}}</div>
		</div>

	</div>
	{%- endfor -%}
</div>

{%- if no_items -%}
<p>
<div class="alert alert-warning">There are no items in this directory</div>
</p>
{%- endif -%}		

{% endblock %}
