{#- modal popup for when 'add bookmark' is clicked  #}
<div class="modal" id="add-bookmark">
	<div class="modal-dialog">
		<div class="modal-content">
			<form action="{{ url_bookmark }}" method="POST" enctype="multipart/form-data" autocomplete="off">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
				<input name="action" type="hidden" value="add"/>
				<input name="bookmark_function" type="hidden" value="{{ func_name }}"/>
				<input name="bookmark_path" type="hidden" value="{{ pwd }}"/>
								
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">×</button>
					<h4 class="modal-title">Add Bookmark</h4>
				</div>
				<div class="modal-body">
					<label>Bookmark name:</label>
					<input class="form-control" type="text" name="bookmark_name" value="{{cwd}}"/>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button id="uploadbtn" type="submit" class="btn btn-success">Add</button>
				</div>
			</form>
		</div>
	</div>
</div>

{#- modal popup for when upload file is clicked #}
<div class="modal" id="upload-file-legacy">
	<div class="modal-dialog">
		<div class="modal-content">
			<form action="{{ url_home }}" method="POST" enctype="multipart/form-data" autocomplete="off">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
				<input name="action" value="upload" type="hidden"/>
				<input name="path" type="hidden" value="{{ pwd }}"/>
				
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">×</button>
					<h4 class="modal-title">Upload</h4>
				</div>
				<div class="modal-body">

					<input type="file" name="file"/>
					<label class="checkbox">
					<input type="checkbox" id="overwrite" name="overwrite" value="overwrite"/>
						Allow overwriting of an existing file
					</label>
					<label><span class="label label-danger">Warning!</span> The maximum file size is 256MB. Some file types are banned.</label>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button id="uploadbtn" type="submit" class="btn btn-success" onclick="$('#uploadbtn').button('loading')" data-loading-text="Uploading...">Upload</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal" id="upload-file">
	<div class="modal-dialog">
		<div class="modal-content">
			<form action="{{ url_home }}" method="POST" enctype="multipart/form-data" autocomplete="off">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
				<input name="action" value="upload" type="hidden"/>
				<input name="path" type="hidden" value="{{ pwd }}"/>
				
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">×</button>
					<h4 class="modal-title">Upload Files</h4>
				</div>
				<div class="modal-body">
					<p>
					Choose files to upload. You can select more than one file at a time. You can also drag and drop files anywhere on this page to start uploading. The maximum file size is 256MB.
					</p>
					
					<div id="upload-progress" class="progress progress-striped hidden active">
						<div class="progress-bar progress-bar-info">
						</div>
					</div>
					<div id="upload-files" class="files"></div>    
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-fw fa-times-circle"></i> Close</button>
					<span class="btn btn-success fileinput-button">
						<i class="fa fa-fw fa-plus"></i>
						<span>Select files</span>
						<input id="fileupload" type="file" name="files[]" multiple>
					</span>
				</div>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript">
$(function ()
{                
    $('#fileupload').fileupload(
    {
        url: '{{url_home}}',
        dataType: 'json',
        formData: [{name: '_csrf_token', value: '{{ csrf_token() }}'}, {name: 'action', value: 'jsonupload'}, {name: 'path', value: '{{pwd}}'}],
        done: function (e, data)
        {
            $.each(data.result.files, function (index, file)
            {
                if (file.error)
                {
                	$('<div class="alert alert-danger fade in"> <a data-dismiss="alert" class="close" href="#">×</a> ' + file.name + ' was not uploaded: ' + file.error + ' </div>').appendTo('#upload-files');
        		}
        		else
        		{
                	$('<div class="alert alert-success fade in"> <a data-dismiss="alert" class="close" href="#">×</a> ' + file.name + ' was uploaded succesfully </div>').appendTo('#upload-files');
        		}
        		
        		$('#upload-progress').addClass('hidden');
            });
        },
		fail: function (e, data)
        {
			// data.errorThrown
			// data.textStatus;
			// data.jqXHR;

			$('<div class="alert alert-danger fade in"> <a data-dismiss="alert" class="close" href="#">×</a> Error! The server said: ' + data.errorThrown + ' </div>').appendTo('#upload-files');
			$('#upload-progress').addClass('hidden');
        },
        progressall: function (e, data)
        {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#upload-progress .progress-bar').css
            (
                'width',
                progress + '%'
            );
        },
        start: function (e)
        {
        	$('#upload-file').modal()
            $('#upload-progress').removeClass('hidden');
        },
    }).prop('disabled', !$.support.fileInput)
        .parent().addClass($.support.fileInput ? undefined : 'disabled');
});
</script>

{#- modal popup for when create directory is clicked #}
<div class="modal" id="create-directory">
	<div class="modal-dialog">
		<div class="modal-content">
			<form action="{{ url_home }}" method="POST">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
				<input name="action" value="mkdir" type="hidden"/>
				<input name="path" type="hidden" value="{{ pwd }}"/>
					
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">Create folder</h4>
				</div>

				<div class="modal-body">
					<label>New folder name:</label>
					<input class="form-control" type="text" name="directory_name" placeholder="New folder"/>
				</div>
				
				<div class="modal-footer">
 					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<input type="submit" class="btn btn-success" value="Create"/>
				</div>
			</form>
		</div>
	</div>
</div>

{#- modal to delete a file #}
<div class="modal" id="delete-confirm">
	<div class="modal-dialog">
		<div class="modal-content">
			<form action="{{ url_home }}" method="POST">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
				<input name="action" value="unlink" type="hidden"/>
				<input name="path" type="hidden" value="" id="delete_path"/>
					
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">Delete file</h4>
				</div>

				<div class="modal-body">
					<p>Are you sure you want to permanently delete the file?</p>
				</div>
				
				<div class="modal-footer">
 					<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
					<input type="submit" id="deletebtn" class="btn btn-primary" onclick="$('#deletebtn').button('loading')" data-loading-text="Deleting..." value="Yes"/>
				</div>
			</form>
		</div>
	</div>
</div>

{#- modal to delete a directory #}
<div class="modal" id="delete-dir-confirm">
	<div class="modal-dialog">
		<div class="modal-content">
			<form action="{{ url_home }}" method="POST">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
				<input name="action" value="unlink" type="hidden"/>
				<input name="path" type="hidden" value="" id="delete_dir_path"/>
					
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">Delete directory</h4>
				</div>

				<div class="modal-body">
					<p>Are you sure you want to permanently delete the directory?</p>
					<label><span class="label label-danger">Note!</span> Only empty directories can be deleted! </label>
				</div>
				
				<div class="modal-footer">
					<input type="submit" class="btn btn-primary" value="Yes"/>
 					<button type="button" class="btn btn-success" data-dismiss="modal">No</button>
				</div>
			</form>
		</div>
	</div>
</div>

{#- modal for rename #}
<div class="modal" id="rename-file">
	<div class="modal-dialog">
		<div class="modal-content">
			<form action="{{ url_home }}" method="POST">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
				<input name="action" value="rename" type="hidden"/>
  				<input id="rename_path" name="path" type="hidden" value=""/>
					
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">Rename</h4>
				</div>

				<div class="modal-body">
					<label>New file name:</label>
      				<input class="form-control" id="newfilename" type="text" name="newfilename" value=""/>
				</div>
				
				<div class="modal-footer">
 					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<input type="submit" class="btn btn-primary" value="Rename"/>				
				</div>
			</form>
		</div>
	</div>
</div>

{#- modal popup for when copy file is clicked #}
<div class="modal" id="copy-file">
	<div class="modal-dialog">
		<div class="modal-content">
			<form action="{{ url_home }}" method="POST">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
				<input name="action" value="copy" type="hidden"/>
  				<input id="copy_path" name="path" type="hidden" value=""/>
					
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">Copy</h4>
				</div>

				<div class="modal-body">
					<label>Name of copied file:</label>
      				<input class="form-control" id="copyfilename" type="text" name="filename" value=""/>
				</div>
				
				<div class="modal-footer">
 					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<input type="submit" class="btn btn-primary" value="Copy"/>				
				</div>
			</form>
		</div>
	</div>
</div>

{#- modal for file click #}
<div class="modal" id="file-click">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 style="overflow: hidden; text-overflow: ellipsis;" class="modal-title" id="file-click-filename">Unknown</h4>
			</div>

			<div class="modal-body text-center">
				<i id="file-click-icon" style="font-size: 6em"></i>
				<table class="table table-condensed text-left table-nl">
					<tr>
						<th class="text-right">Size:</th>
						<td id="file-click-size"></td>
					</tr>
					<tr>
						<th class="text-right">Modified:</th>
						<td id="file-click-mtime"></td>
					</tr>
					<tr>
						<th class="text-right">Type:</th>
						<td id="file-click-mtype"></td>
					</tr>
				</table>
				<div class="btn-group">
					<a href="#" id="file-click-download" class="btn btn-primary">Download</a>
					<a href="#" id="file-click-view" class="btn btn-success hidden hidden-xs">View</a>
					<a href="#" id="file-click-props" class="btn btn-info">Properties</a>
				</div>	
			</div>
			<div class="modal-footer">	
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>	
			</div>
		</div>
	</div>
</div>
