{% extends "layout.html" %}
{% block body %}

{# POP UP MODALS FOR FILE ACTIONS #}
{% include 'directory-modals.html' %}

{% if func_name == 'webfiles' and atroot == True %}
<div class="alert alert-info">
	<strong>Heads up!</strong> Files you place here appear on your personal website: <a target="_blank" href="http://www.southampton.ac.uk/~{{ session.username }}">http://www.southampton.ac.uk/~{{ session.username }}</a>
</div>
{% endif %}

<!-- BREADCRUMB NAVIGATION -->
<ol class="breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="{{ url_home }}">
			{{ root_display_name }}
			</a>
		</li>
		{% for dir in crumbs %}
		<li {% if loop.last %} class="active"{%endif%}>
			{% if not loop.last %}
			<a href="{{ dir.url }}">
			{{ dir.name }}
			</a>
			{% else %}
			{{ dir.name }}
			{% endif %}
		</li>
		{% endfor %}
</ol>

<!-- MAIN DIRECTORY LISTING -->

<table id="dir" class="table table-striped table-hover tablesorter">
	<thead>
		<tr>
			<th class="tsdisable" style="width: 1px"></th>
			<th>Name</th>
			<th class="hidden-xs hidden-sm">Modified</th>
			<th class="tsdisable"></th>
		</tr>
	</thead>

	<tbody class="rowclick-table">
		{% if atroot == False %}
		<tr class="rowclick-tr" data-url="{{ url_parent_dir }}">
			<td class="text-center rowclick-td">
				<i class="fa fa-arrow-circle-up fa-2x"></i>
			</td>
			<td class="rowclick-td">
				<a href="{{ url_parent_dir }}">Parent Folder</a>
			</td>
			<td class="rowclick-td hidden-xs hidden-sm">
				-
			</td>
			<td class="rowclick-td">
				
			</td>
		</td>
		{% endif %}
		{% for entry in entries %}

		{% if entry.type == 'file'%}
		{% set rclick = 'mclick-td' %}
		{% else %}
		{% set rclick = 'rowclick-td' %}
		{%endif%}
		
		<tr class="rowclick-tr" data-icon="{{entry.icon}}" data-url="{{ entry.default_open }}" data-mtype="{{entry.mtype}}" data-props="{{ entry.view }}" data-filename="{{entry.name|truncate(length=45,killwords=True)}}" data-mtime="{{entry.mtime}}" data-size="{{entry.size}}">
			<td class="text-center {{rclick}}">
				<i class="{{ entry.icon }} fa-2x"></i>
			</td>
			<td class="{{rclick}}">
				<span class="visible-xs">{{ entry.name|truncate(length=16,killwords=True) }}</span>
				<span class="visible-sm">{{ entry.name|truncate(length=70,killwords=True) }}</span>
				<span class="visible-md">{{ entry.name|truncate(length=75,killwords=True) }}</span>
				<span class="visible-lg">{{ entry.name|truncate(length=75,killwords=True) }}</span>
			</td>
			<td class="hidden-xs hidden-sm {{rclick}}">
				{% if entry.type == 'file' %}
				{{ entry.mtime }}
				{% endif %}
				{% if entry.type == 'dir' %}
				-
				{% endif %}						
			</td>
			<td class="text-right" style="width: 56px">					
				<div class="btn-group fcog">
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i></button>
					
					{% if entry.type == 'file' %}
					<ul class="dropdown-menu pull-right text-left">
							{% if entry.bdownload %}
							<li class="hidden-xs">
								<a href="{{ entry.bdownload }}"><i class="fa fa-eye fa-fw"></i> View</a>
							</li>
							{% endif %}
							<li>
								<a href="{{ entry.download }}"><i class="fa fa-download fa-fw"></i> Download</a>
							</li>
							<li>
								<a href="#" onclick="$('#copy_path').val('{{entry.path}}'); $('#copyfilename').attr('value','Copy of {{entry.name}}'); $('#copy-file').modal({show: true}); event.preventDefault(); event.stopPropagation();"><i class="fa fa-copy fa-fw"></i> Copy</a>
							</li>
							<li>
								<a href="#" onclick="$('#rename_path').val('{{entry.path}}'); $('#newfilename').attr('value','{{entry.name}}'); $('#rename-file').modal({show: true}); event.preventDefault(); event.stopPropagation();"><i class="fa fa-arrows fa-fw"></i> Rename</a>
							</li>
							<li>
								<a href="#" onclick="$('#delete_path').val('{{entry.path}}'); $('#delete-confirm').modal({show: true}); event.preventDefault(); event.stopPropagation();"><i class="fa fa-trash-o fa-fw"></i> Delete</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="{{ entry.view }}"><i class="fa fa-info-circle fa-fw"></i> Properties</a>
							</li>
					</ul>
					{% elif entry.type == 'dir' %}
					<ul class="dropdown-menu pull-right text-left">
							<li>
								<a href="{{ entry.view }}"><i class="fa fa-eye fa-fw"></i> Open</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#" onclick="$('#rename_path').val('{{entry.path}}'); $('#newfilename').attr('value','{{entry.name}}'); $('#rename-file').modal({backdrop: 'static', show: true}); event.preventDefault(); event.stopPropagation();"><i class="fa fa-arrows fa-fw"></i> Rename</a>
							</li>
							<li>
								<a href="#" onclick="$('#delete_dir_path').val('{{entry.path}}'); $('#delete-dir-confirm').modal({backdrop: 'static', show: true}); event.preventDefault(); event.stopPropagation();"><i class="fa fa-trash-o fa-fw"></i> Delete</a>
							</li>
					</ul>
					{% endif %}
				</div>
			</td>
		</tr>
		{% else %}
		<tr id="no_files">
			<td colspan="4">
				<em>No files found!</em>
			</td>
		</tr>
		<tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
