{%- extends "layout.html" -%}
{%- block body -%}

{#- POP UP MODALS FOR FILE ACTIONS -#}
{%- include 'directory-modals.html' -%}

{%- if func_name == 'webfiles' and atroot == True %}
<div class="alert alert-info">
	<strong>Heads up!</strong> Files you place here appear on your personal website: <a target="_blank" href="http://www.personal.southampton.ac.uk/{{ session.username }}">http://www.personal.southampton.ac.uk/{{ session.username }}</a>
</div>
{% endif %}

{#- BREADCRUMB NAVIGATION #}
<ol class="breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="{{ url_home }}">
			{{ root_display_name }}
			</a>
		</li>
		{%- for dir in crumbs %}
		<li{% if loop.last %} class="active"{%endif%}>
			{%- if not loop.last %}
			<a href="{{ dir.url }}">
			{{ dir.name }}
			</a>
			{%- else %}
			{{ dir.name }}
			{%- endif %}
		</li>
		{%- endfor %}
</ol>

{#- MAIN DIRECTORY LISTING #}
<table id="dir" class="table table-striped table-hover tablesorter">
	<thead>
		<tr>
			<th class="tsdisable" style="width: 1px"></th>
			<th>Name</th>
			<th class="hidden-xs hidden-sm">Modified</th>
			<th class="tsdisable"></th>
		</tr>

		{%- if atroot == False %}
		<tr class="tsdisable rowclick-tr" data-url="{{ url_parent_dir }}">
			<td class="sorter-false text-center rowclick-td" style="padding-left: 8px !important">
				<i class="fa fa-fw fa-arrow-up"></i>
			</td>
			<td class="sorter-false rowclick-td">
				<a href="{{ url_parent_dir }}">Parent Folder</a>
			</td>
			<td class="sorter-false rowclick-td hidden-xs hidden-sm">
				
			</td>
			<td class="sorter-false rowclick-td">
				
			</td>
		</td>
		{% endif -%}
	</thead>

	<tbody class="rowclick-table" style="text-decoration: none;">
		{%- for entry in dirs -%}
		<tr class="rowclick-tr" data-icon="{{entry.icon}}" data-url="{{ entry.default_open }}" data-filename="{{entry.name}}" data-path="{{entry.path}}">
			<td class="text-center rowclick-td"><span class="{{ entry.icon }}"></span></td>
			<td class="rowclick-td dentry">{{ entry.name}}</td>
			<td class="hidden-xs hidden-sm rowclick-td dentry-mtime">-</td>
			<td class="text-right" style="width: 56px">					
				<div class="btn-group fcog">
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i></button>
					<ul class="dropdown-menu pull-right text-left">
						<li><a href="{{ entry.view }}"><i class="fa fa-eye fa-fw"></i> Open</a></li>
						<li class="divider"></li>
						<li><a href="#" class="rename"><i class="fa fa-arrows fa-fw"></i> Rename</a></li>
						<li><a href="#" class="delDir"><i class="fa fa-trash-o fa-fw"></i> Delete</a></li>
					</ul>
				</div>
			</td>
		</tr>
		{%- endfor -%}

		{%- for entry in files -%}
		{%- if on_file_click == 'ask' %}
			{#- POPUP DIALOG FOR FILES TR -#}
			<tr class="rowclick-tr" data-icon="{{entry.icon}}" {% if entry.img_preview %}data-imgpreview="{{ entry.img_preview }}" {%endif%} {% if entry.bdownload %}data-view="{{ entry.bdownload }}" {%endif%} data-download="{{ entry.download }}" data-mtype="{{entry.mtype}}" data-props="{{ entry.view }}" data-filename="{{entry.name}}" data-mtime="{{entry.mtime}}" data-size="{{entry.size|filesizeformat}}" data-path="{{entry.path}}">
			{%- set rclick = 'mclick-td' -%}
		{%- else %}
			{#- INSTANTLY VIEW/DOWNLOAD TR -#}
			<tr class="rowclick-tr" data-url="{{ entry.on_file_click }}" data-filename="{{entry.name}}" data-path="{{entry.path}}">
			{%- set rclick = 'rowclick-td' -%}
		{%- endif %}

			<td class="text-center {{rclick}}"><span class="{{ entry.icon }}"></span></td>
			<td class="{{rclick}} dentry">{{ entry.name}}</td>
			<td class="hidden-xs hidden-sm {{rclick}} dentry-mtime">{{ entry.mtime }}</td>
			<td class="text-right" style="width: 56px">
				<div class="btn-group fcog">
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i></button>
					<ul class="dropdown-menu pull-right text-left">
						{%- if entry.bdownload %}
						<li class="hidden-xs"><a href="{{ entry.bdownload }}"><i class="fa fa-eye fa-fw"></i> View</a></li>
						{%- endif %}
						<li><a href="{{ entry.download }}"><i class="fa fa-download fa-fw"></i> Download</a></li>
						<li><a href="#" class="copy"><i class="fa fa-copy fa-fw"></i> Copy</a></li>
						<li><a href="#" class="rename"><i class="fa fa-arrows fa-fw"></i> Rename</a></li>
						<li><a href="#" class="del"><i class="fa fa-trash-o fa-fw"></i> Delete</a></li>
						<li class="divider"></li>
						<li><a href="{{ entry.view }}"><i class="fa fa-info-circle fa-fw"></i> Properties</a></li>
					</ul>
				</div>
			</td>
		</tr>
		{%- endfor -%}
	</tbody>
</table>
{% endblock %}
