{%- extends "layout.html" -%}
{%- block body -%}

{#- POP UP MODALS FOR FILE ACTIONS -#}
{%- include 'directory-modals.html' -%}

{%- if func_name == 'webfiles' and atroot == True %}
<div class="alert alert-info">
	<strong>Heads up!</strong> Files you place here appear on your personal website: <a target="_blank" href="http://www.personal.southampton.ac.uk/{{ session.username }}">http://www.personal.southampton.ac.uk/{{ session.username }}</a>
</div>
{% endif %}

{#- BREADCRUMB NAVIGATION #}
<ol class="breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="{{ url_home }}">
			{{ root_display_name }}
			</a>
		</li>
		{%- for dir in crumbs %}
		<li{% if loop.last %} class="active"{%endif%}>
			{%- if not loop.last %}
			<a href="{{ dir.url }}">
			{{ dir.name }}
			</a>
			{%- else %}
			{{ dir.name }}
			{%- endif %}
		</li>
		{%- endfor %}
</ol>

<script type="text/javascript">
$(document).ready(function(){
	$(".dentry-open").click(function()
	{
		window.document.location = $(this).data('url');
	});
	
	$(".dentry-preview").click(function()
	{
		var parent = $(this)
		
		$('#file-click-filename').text(parent.data('filename'));
		$('#file-click-size').text(parent.data('size'));
		$('#file-click-mtime').text(parent.data('mtime'));
		$('#file-click-mtype').text(parent.data('mtype'));
		$('#file-click-icon').attr('class',parent.data('icon'));
		$('#file-click-download').attr('href',parent.data('download'));
		$('#file-click-props').attr('href',parent.data('props'));
		
		if (parent.attr('data-imgpreview'))
		{
			$('#file-click-preview').attr('src',parent.data('imgpreview'));
			$('#file-click-preview').removeClass('hidden');
			$('#file-click-icon').addClass('hidden');
		}
		else
		{
			$('#file-click-preview').attr('src','');
			$('#file-click-view').addClass('hidden');
			$('#file-click-icon').removeClass('hidden');
		}
		
		if (parent.attr('data-view'))
		{
			$('#file-click-view').attr('href',parent.data('view'));
			$('#file-click-view').removeClass('hidden');
		}
		else
		{
			$('#file-click-view').addClass('hidden');
		}
		
		$('#file-click').modal();
	});
	  
});
</script>

<style type="text/css">
.dentry {
  position: relative;
  float: left;
  width: 150px;
  height: 150px;
  margin: 20px;
  text-align: center;
  cursor: pointer;
}
.dentry-img
{
  color: #262524;
-webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.22);
-moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.22);
box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.22);
  width: 150px;
  height: 130px;
}
.img-responsive
{
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}
.dentry-icon
{
  /*color: #262524;*/
-webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.22);
-moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.22);
box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.22);
border-radius: 3px;
  width: 150px;
  height: 130px;
	padding-left: 35px;
	padding-right: 35px;
	/*padding-top: 30px;
	padding-bottom: 25px;*/
	font-size: 50px;
	line-height: 130px;
}
.dentry-label
{
  padding: 1px;
}
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>
<script src="/static/js/bootstrap-contextmenu.js"></script>

	      <div id="context-menu">
	      	<ul class="dropdown-menu" role="menu">
            <li><a tabindex="-1">Action</a></li>
	           <li><a tabindex="-1">Another action</a></li>
	           <li><a tabindex="-1">Something else here</a></li>
	           <li class="divider"></li>
	           <li><a tabindex="-1">Separated link</a></li>
	      	</ul>
	      </div>

<script type="text/javascript">
$(document).ready(function ()
{
	var $container = $('#directory').isotope(
	{
		getSortData:
		{
			name: '.name',
			type: '[data-type]',
			mtime: '[data-rawmtime] parseInt',
			size: '[data-rawsize] parseInt',
		},
		transitionDuration: '0',
		sortAscending:
		{
    		name: true,
			type: true,
			mtime: false,
			size: false
		}
	});
	$('.isotope-sortby-name').on( 'click', function()
	{
		$container.isotope({ sortBy: 'name' });
	});
	$('.isotope-sortby-type').on( 'click', function()
	{
		$container.isotope({ sortBy: 'type' });
	});
	$('.isotope-sortby-mtime').on( 'click', function()
	{
		$container.isotope({ sortBy: 'mtime' });
	});
	$('.isotope-sortby-size').on( 'click', function()
	{
		$container.isotope({ sortBy: 'size' });
	});
	$('.isotope-sortby-orig').on( 'click', function()
	{
		$container.isotope({ sortBy: 'original-order' });
	});
});
</script>

<div id="directory">

		{%- for entry in entries -%}


		{%- if entry.type == 'file' -%}
			{%- if on_file_click == 'ask' %}
				<div data-toggle="context" data-target="#context-menu" class="dentry dentry-preview" data-type="{{entry.type}}" data-rawmtime="{{ entry.mtime_raw }}" data-rawsize="{{ entry.size_raw }}" data-icon="{{entry.icon}}" {% if entry.img_preview %}data-imgpreview="{{ entry.img_preview }}" {%endif%} {% if entry.bdownload %}data-view="{{ entry.bdownload }}" {%endif%} data-download="{{ entry.download }}" data-mtype="{{entry.mtype}}" data-props="{{ entry.view }}" data-filename="{{entry.name}}" data-mtime="{{entry.mtime}}" data-size="{{entry.size}}" data-path="{{entry.path}}" data-url="{{ entry.default_open}}">
			{%- else %}
				<div data-toggle="context" data-target="#context-menu" class="dentry dentry-open" data-type="{{entry.type}}" data-rawmtime="{{ entry.mtime_raw }}" data-rawsize="{{ entry.size_raw }}" data-url="{{ entry.on_file_click }}" data-filename="{{entry.name}}" data-path="{{entry.path}}">
			{%- endif %}
		{%- else -%}
			<div data-toggle="context" data-target="#context-menu" class="dentry dentry-open" data-type="{{entry.type}}" data-rawmtime="0" data-rawsize="0" data-url="{{ entry.default_open }}" data-filename="{{entry.name}}" data-path="{{entry.path}}">
		{%- endif %}

			{% if entry.img_preview %}
			<div class="dentry-img" style="overflow: hidden; background-image: url('{{ entry.img_preview }}'); background-size: cover;">
			</div>
			{%else%}
			<div class="dentry-icon">
					<span class="{{ entry.icon }}"></span>
			</div>
			{%endif%}
			<div class="name dentry-label">{{ entry.name|truncate(17,killwords=True)}}</div>
		</div>

		{% else %}

		<p>
		<div class="alert alert-info">There are no files in this directory</div>
		</p>
		{% endfor %}
		
</div>


{% endblock %}
