<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Filestore Web Access</title>
		
		{% include 'header-links.html' %}
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/hero.css') }}">
		{% include 'javascript.html' %}
		<script type="text/javascript" src="{{ url_for('static', filename='js/hero.js') }}"></script>

		<style type="text/css">
		@media (min-width: 800px)
		{
			body.signin
			{
				background-image: url(/static/images/login/bgimage{{bgnumber}}.jpg) !important;
				background-position: center top !important;
				background-repeat: no-repeat !important;
			}
		}
		</style>
	</head>
	<body class="signin">
		<div class="container hidden-xs hidden-sm">
			<div class="row">
				<div class="col-sm-8">
					<div class="signin-advert">
						<img src="{{ url_for('static', filename='images/uoslogoblue.png') }}" style="padding: 10px;" class="pull-right"/>
						<h1 class="form-signin-heading pull-left">Filestore Web Access</h1>
						<div class="clearfix"></div>
						<p style="font-size: 18px; line-height: 1.25; padding-top:10px">Filestore Web Access is a new way to access your files over the web. It works on smart phones, tablets, desktops and laptops. You can access your personal files, shared files and more.</p>
					</div>
					{% for category, message in get_flashed_messages(with_categories=true) %}
					<div class="alert {{ category }} fade in">
						<a data-dismiss="alert" class="close" href="#">×</a>
						{{ message|safe }}
					</div>
					{% endfor %}
				</div>
				<div class="col-sm-4">
					<form class="form-signin" action="{{ url_for('login') }}" method="POST">
						<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
						{% if next %}
						<input name="next" type="hidden" value="{{next}}"/>
						{% endif %}
						<label>Username:</label>
						<input type="text" class="form-control" id="loginUsername" name="username">
						<label>Password:</label>
						<input type="password" class="form-control" id="loginPassword" name="password">
						<label class="checkbox">
						<input type="checkbox" value="sec" id="sec" name="sec"> Remember me
						</label>
						<div class="text-center">
							<button class="btn btn-default" type="submit">Sign in</button>
						</div>
					</form>
				</div>
			</div>
	    </div>

		<div class="container hidden-md hidden-lg signin-block">
			<form class="form-signin" action="{{ url_for('login') }}" method="POST">
				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
				{% if next %}
				<input name="next" type="hidden" value="{{next}}"/>
				{% endif %}
				<div style="text-align: center">
					<img src="{{ url_for('static', filename='images/uoslogoblue.png') }}" style="padding: 10px;"/>
				</div>
				<h1 class="form-signin-heading text-center">Filestore Web Access</h1>
				<label>Username:</label>
				<input type="text" class="form-control" id="loginUsername" name="username">
				<label>Password:</label>
				<input type="password" class="form-control" id="loginPassword" name="password">
				<label class="checkbox">
				<input type="checkbox" value="sec" id="sec" name="sec"> Remember me
				</label>
				<div class="text-center">
					<button class="btn btn-default btn-lg" type="submit">Sign in</button>
				</div>
			</form>

			{% for category, message in get_flashed_messages(with_categories=true) %}
			<div class="alert {{ category }} fade in">
				<a data-dismiss="alert" class="close" href="#">×</a>
				{{ message|safe }}
			</div>
			{% endfor %}
	    </div>
	</body>
</html>