<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.tablesorter.js') }}"></script>

		{% if browse_mode %}
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.visible.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/upload/jquery.ui.widget.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/upload/jquery.iframe-transport.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/upload/jquery.fileupload.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/upload/jquery.dragster.js') }}"></script>
		{% endif %}

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>

			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
			<link href="{{ url_for('static', filename='respond.proxy.gif') }}" id="respond-redirect" rel="respond-redirect" />
			<link href="//netdna.bootstrapcdn.com/respond-proxy.html" id="respond-proxy" rel="respond-proxy" />
			<script src="{{ url_for('static', filename='js/respond.proxy.js') }}"></script>
		<![endif]-->
