<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Filestore Web Access</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% include 'header-links.html' %}
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bargate.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/icomoon.css') }}">
		{% include 'javascript.html' %}
		<script type="text/javascript" src="{{ url_for('static', filename='js/bargate.js') }}"></script>
	</head>
	<body>
		<div class="navbar navbar-{{get_user_navbar()}} navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					{%- if session.logged_in %}
					<a href="{{ url_personal }}" class="navbar-brand visible-xs">Filestore Web Access</a>
					<a href="{{ url_personal }}" class="navbar-brand visible-sm">Filestore</a>
					<a href="{{ url_personal }}" class="navbar-brand visible-md visible-lg">Filestore Web Access</a>
					{%- else %}
					<a href="{{ url_for('login') }}" class="navbar-brand"><i class="fa fa-arrow-circle-o-left"></i> Back to Login</a>
					{%- endif %}
				</div>
			
				{%- if session.logged_in %}
				<div class="navbar-collapse collapse" id="navbar-collapse-1">	
					<ul class="nav navbar-nav">
						<li class="dropdown{%if active == 'home'%} active{%endif%}">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">My Files <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="{{ url_personal }}"><i class="fa fa-fw fa-home"></i> Home</a></li>
								<li><a href="{{ url_mydocuments }}"><i class="fa fa-fw fa-files-o"></i> My Documents</a></li>
								<li><a href="{{ url_mydesktop }}"><i class="fa fa-fw fa-desktop"></i> My Desktop</a></li>
								<li><a href="{{ url_website }}"><i class="fa fa-fw fa-globe"></i> My Website</a></li>
							</ul>
						</li>
						<li class="dropdown{%if active == 'shared'%} active{%endif%}">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Shared Files <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="{{ url_for('resource') }}"><i class="fa fa-fw fa-group"></i> Resource Drive</a></li>
								<li><a href="{{ url_for('linuxresearch') }}"><i class="fa fa-fw fa-linux"></i> Linux Research</a></li>
								<li><a href="{{ url_for('other') }}"><i class="fa fa-fw fa-share-square-o"></i> Other Drives</a></li>
								<li><a href="{{ url_for('custom_server') }}"><i class="fa fa-fw fa-hdd-o"></i> Custom Server</a></li>
							</ul>
						</li>
						<li class="dropdown{%if active == 'help'%} active{%endif%}">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="http://www.southampton.ac.uk/isolutions/services/personal_files_my_documents/index.php"><i class="fa fa-fw fa-external-link"></i> Filestore Help</a></li>
								<li><a href="https://github.com/divad/bargate/issues"><i class="fa fa-fw fa-bug"></i> Report a bug</a></li>
								<li><a href="https://www.isurvey.soton.ac.uk/8771"><i class="fa fa-question-circle fa-fw"></i> Give Feedback</a></li>
								<li><a href="{{ url_for('about') }}"><i class="fa fa-fw fa-download"></i> About</a></li>
							</ul>
						</li>
					</ul>
					
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown{%if active == 'user'%} active{%endif%}">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-user"></i> {{ session.username }} <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="{{ url_for('bookmarks') }}"><i class="fa fa-bookmark fa-fw"></i> Bookmarks</a></li>
								<li><a href="{{ url_for('settings') }}"><i class="fa fa-gears fa-fw"></i> Account Settings</a></li>
								<li class="divider"></li>
								<li><a href="{{ url_for('logout') }}"><i class="fa fa-sign-out fa-fw"></i> Sign Out</a></li>
							</ul>
						</li>
					</ul>
					
					<div class="pull-right action-btns">
						<a data-toggle="modal" href="#upload-file" class="btn navbar-btn btn-default btn hidden-xs" rel="tooltip" data-toggle="tooltip" data-placement="bottom" title="Upload a file" {% if not browse_mode %}disabled="disabled"{%endif%}>
							<i class="fa fa-fw fa-lg fa-upload"></i>
						</a>
						<a data-toggle="modal" href="#create-directory" class="btn navbar-btn btn-default hidden-xs" rel="tooltip" data-toggle="tooltip" data-placement="bottom" title="Create a folder" {% if not browse_mode %}disabled="disabled"{%endif%}>
							<i class="fa fa-fw fa-lg fa-folder-open"></i>
						</a>
						<a data-toggle="modal" href="#add-bookmark" class="btn navbar-btn btn-default hidden-xs" rel="tooltip" data-toggle="tooltip" data-placement="bottom" title="Bookmark this folder" {% if not browse_mode %}disabled="disabled"{%endif%} {% if atroot %}disabled="disabled"{%endif%}>
							<i class="fa fa-fw fa-lg fa-bookmark"></i>
						</a>
					</div>
				</div>
				{%- endif %}
			</div>
		</div>

		{%- if session.popup_error -%}
		{%- with poperr = poperr_get() -%}
		<div class="modal fade" id="popup-error">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">×</button>
						<h4 class="modal-title">{{ poperr.0 }}</h4>
					</div>
					<div class="modal-body">
						{{ poperr.1 }}
					</div>
					<div class="modal-footer">
						<a href="#" class="btn btn-default"  data-dismiss="modal">OK</a>
					</div>
				</div>
			</div>
		</div>
		{%- endwith -%}
		{%- endif %}

		<div class="{% if browse_mode %}container container-directory{%else%}container{%endif%}">
			{% for category, message in get_flashed_messages(with_categories=true) %}
			<div class="alert {{ category }} fade in"> <a data-dismiss="alert" class="close" href="#">×</a> {{ message }} </div>
			{% endfor %}
			{% block body %}{% endblock -%}
		</div>
		
		{%- if browse_mode %}
		<div class="navbar navbar-{{get_user_navbar()}} navbar-fixed-bottom visible-xs" role="navigation">	
			<div class="container">
				<div class="action-btns text-center">
					<a data-toggle="modal" href="#upload-file" class="btn navbar-btn btn-default">
						<i class="fa fa-fw fa-upload"></i>
					</a>
					<a data-toggle="modal" href="#create-directory" class="btn navbar-btn btn-default">
						<i class="fa fa-fw fa-folder-open"></i>
					</a>
					<a data-toggle="modal" href="#add-bookmark" class="btn navbar-btn btn-default" {% if atroot %}disabled="disabled"{%endif%}>
						<i class="fa fa-fw fa-bookmark"></i>
					</a>
				</div>
			</div>
		</div>
		{%- endif %}
	</body>
</html>
