{% extends "layout.html" %}
{% block body %}
{%- include 'directory-modals.html' -%}
{%- include 'directory-menus.html' -%}
{%- include 'breadcrumbs.html' -%}

<h3>Results for '{{query}}'</h3>

<table id="dir" class="table table-striped table-hover" style="width: 100%">
	<thead>
		<tr>
			<th class="tsdisable" style="width: 1px"></th>
			<th>Name</th>
		</tr>
	</thead>

	<tbody>
		{%- for entry in results -%}

		{% if entry['type'] == 'dir' %}		
		<tr class="entry-click" data-url="{{ entry.open }}" >
		{% elif entry['type'] == 'file' %}
		<tr class="entry-click" data-url="{{ entry.parent_url }}" >
		{% endif %}

			<td class="text-center entry-open"><span class="{{ entry.icon }} fa-2x"></span></td>
			<td class="entry-open dentry">{{ entry.name}}<br/>
				<span class="text-muted">in <a href="{{entry.parent_url}}">{% if entry.parent_path %} /{{entry.parent_path}}{%else%}{{root_display_name}}{%endif%}</a></span>
			</td>
		</tr>
		{%- endfor -%}

	</tbody>
</table>

{% endblock %}
