{% extends "layout.html" %}
{% block body %}

<!-- modal popup for when delete is clicked upon -->
<div class="modal hide fade" id="delete-confirm">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Delete File</h3>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to permanently delete this file?</p>
  </div>
  <div class="modal-footer">
	<form action="{{ url_home }}" method="POST">
		<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
		<input name="action" value="unlink" type="hidden"/>
		<input name="path" type="hidden" value="{{ path }}"/>
		<input name="mode" type="hidden" value="view"/>
		<input type="submit" class="btn btn-danger" value="Yes"/>
		<a href="#" data-dismiss="modal" class="btn">No</a>
	</form>
  </div>
</div>

<!-- modal popup for when rename file is clicked -->
<div class="modal hide fade" id="rename-file">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Rename File</h3>
  </div>
  <div class="modal-body">
  	<form action="{{ url_rename }}" method="POST">
		<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
		<input name="action" value="rename" type="hidden"/>
  		<input name="path" type="hidden" value="{{ path }}"/>
		<label>New file name:</label>
      	<input style="width:95%" type="text" name="newfilename" value="{{ filename }}"/>
    </div>
    <div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Cancel</a>
		<input type="submit" class="btn btn-primary" value="Rename"/>
    </div>
  </form>
</div>


<div class="row-fluid">
	<div class="span2 hidden-phone">
		<div class="well sidebar-nav" style="padding: 8px 0;">
			<ul class="nav nav-list">
				<li class="nav-header">
					Actions
				</li>
				{% if url_bdownload is not none %}
				<li>
					<a href="{{ url_bdownload }}"><i style="color: #000000" class="icon-eye-open"></i> View</a>
				</li>
				{% endif %}
				<li>
					<a href="{{ url_download }}"><i style="color: #000000" class="icon-download-alt"></i> Download</a>
				</li>
				<li>
					<a href="#delete-confirm" data-toggle="modal"><i style="color: #000000" class="icon-trash"></i> Delete</a>
				</li>
				<li>
					<a href="#rename-file" data-toggle="modal"><i style="color: #000000" class="icon-move"></i> Rename</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="span10">

		<ul class="breadcrumb">
			<li>
				<i class="icon-home"></i>
				<a href="{{ url_home }}">Home</a>
			</li>
			{% for dir in crumbs %}
			<li>
				<i class="icon-arrow-right"></i>
				<a href="{{ dir.url }}">{{ dir.name }}</a>
			</li>
			{% endfor %}
			<li class="active hidden-phone">
				<i class="icon-arrow-right"></i>
				{{ filename }}
			</li>
		</ul>

		<h3><i class="{{ ficon }}"></i> {{ filename }}</h3>

		<div class="container visible-phone mobile-header">
			<div class="btn-group">
				<a href="{{ url_download }}" class="btn"><i class="icon-download-alt"></i> Download</a>
				<a data-toggle="modal" href="#delete-confirm" class="btn"><i class="icon-trash"></i> Delete</a>
				<a href="#rename-file" data-toggle="modal" class="btn"><i class="icon-move"></i> Rename</a>
			</div>
		</div>
 
		</br>
		<form class="form-horizontal">
		  <fieldset>
			<div class="ctonrol-group">
			</div>
			<div class="control-group">
			  <label class="control-label">File Size:</label>
			  <div class="controls">
				<input class="input-xlarge" type="text" disabled="disabled" value="{{ fsize }}"/>
				<p class="help-block">The size of the file as stored on disk</p>
			  </div>
			</div>
			<div class="control-group">
			  <label class="control-label">Access Time:</label>
			  <div class="controls">
				<input class="input-xlarge" type="text" disabled="disabled" value="{{ atime }}"/>
				<p class="help-block">The last time the file was accessed</p>
			  </div>
			</div>
			<div class="control-group">
			  <label class="control-label">Modify Time:</label>
			  <div class="controls">
				<input class="input-xlarge" type="text" disabled="disabled" value="{{ mtime }}"/>
				<p class="help-block">The last time the file was modified</p>
			  </div>
			</div>
			<div class="control-group">
			  <label class="control-label">File type:</label>
			  <div class="controls">
				<input class="input-xlarge" type="text" readonly="readonly" value="{{ ftype }}"/>
				<input type="hidden" name="mime-type" value="{{ mtype }}"/>
				<p class="help-block">The file type, or MIME type, based on file extension.</p>
			  </div>
			</div>
		  </fieldset>
		</form>
	</div>
</div>

{% endblock %}
