<!doctype html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
		<title>{{ config['APP_DISPLAY_NAME'] }}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="icon" type="image/png" href="{{ favicon }}">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
		<link href="{{ url_for('static', filename='css/login.min.css') }}" type="text/css" rel="stylesheet">
		<noscript>
			<meta http-equiv="refresh" content="0; url={{ url_for('nojs')}}" />
		</noscript>
		{% include 'js.html' %}
		<script src="{{ url_for('static', filename='js/login.min.js') }}" async></script>
		{% include 'login/head.html' ignore missing %}
	</head>
	<body>
		<div class="modal" id="scr" tabindex="-1">
			<div class="modal-dialog">
				<div id="scr-c" class="modal-content">
				</div>
			</div>
		</div>
		{% include 'login/body.html' ignore missing %}
		<div class="container-fluid">
			{% include 'login/container.html' ignore missing %}
			<div class="row">
				<div class="col-login col-sm-8 col-md-6">
					<div class="login-box">
						{% include 'login/title.html' ignore missing %}
						{% for category, message in get_flashed_messages(with_categories=true) %}
						<div class="alert {{ category or 'alert-info' }} fade show alert-dismissible" role="alert">
							{{ message|safe }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						{% endfor %}

						{% block body %}{% endblock -%}
						<footer class="footer">
							{% include 'login/footer.html' ignore missing %}
						</footer>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
