{% extends "layout.html" %}
{% block body %}

<h2><i class="fa fa-share-square-o"></i> Other Drives</h2>
<br/>

<div class="row">
	<div class="col-sm-4">
		<div class="list-group">
			<a href="{{ url_for('medis_personal') }}" class="list-group-item">
				<h4 class="list-group-item-heading"><i class="fa fa-fw fa-user-md"></i> MEDIS Personal</h4>
				<p class="list-group-item-text">MEDIS users personal file store</p>
			</a>
			<a href="{{ url_for('medis') }}" class="list-group-item">
				<h4 class="list-group-item-heading"><i class="fa fa-fw fa-hospital-o"></i>  MEDIS</h4>
				<p class="list-group-item-text">MEDIS shared drive ('M Drive')</p>
			</a>
			<a href="{{ url_for('kdrive') }}" class="list-group-item">
				<h4 class="list-group-item-heading"><i class="fa fa-fw fa-lock"></i> Legacy K Drive</h4>
				<p class="list-group-item-text">Legacy 'K' Drive Private Drive</p>
			</a>

		</div>
	</div>
	<div class="col-sm-4">
		<div class="list-group">
			<a href="{{ url_for('lampx1') }}" class="list-group-item">
				<h4 class="list-group-item-heading"><i class="fa fa-fw fa-linux"></i> LAMP-X Server 1</h4>
				<p class="list-group-item-text">LAMP web hosting server 1</p>
			</a>
			<a href="{{ url_for('lampx2') }}" class="list-group-item">
				<h4 class="list-group-item-heading"><i class="fa fa-fw fa-linux"></i> LAMP-X Server 2</h4>
				<p class="list-group-item-text">LAMP web hosting server 2</p>
			</a>
			<a href="{{ url_for('lampx3') }}" class="list-group-item">
				<h4 class="list-group-item-heading"><i class="fa fa-fw fa-linux"></i> LAMP-X Server 3</h4>
				<p class="list-group-item-text">LAMP web hosting server 3</p>
			</a>
			<a href="{{ url_for('lampx4') }}" class="list-group-item">
				<h4 class="list-group-item-heading"><i class="fa fa-fw fa-linux"></i> LAMP-X Server 4</h4>
				<p class="list-group-item-text">LAMP web hosting server 3</p>
			</a>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="list-group">
			<a href="{{ url_for('staticweb') }}" class="list-group-item">
				<h4 class="list-group-item-heading"><i class="fa fa-fw fa-code"></i> Static Web Hosting </h4>
				<p class="list-group-item-text">Static web hosting service</p>
			</a>
			<a href="{{ url_for('lamp1') }}" class="list-group-item">
				<h4 class="list-group-item-heading"><i class="fa fa-fw fa-linux"></i> LAMP 1</h4>
				<p class="list-group-item-text">Legacy LAMP web hosting server (RHEL5)</p>
			</a>
			<a href="{{ url_for('lamp2') }}" class="list-group-item">
				<h4 class="list-group-item-heading"><i class="fa fa-fw fa-linux"></i> LAMP 2</h4>
				<p class="list-group-item-text">Legacy corporate LAMP web hosting server</p>
			</a>
			<a href="{{ url_for('lamp3') }}" class="list-group-item">
				<h4 class="list-group-item-heading"><i class="fa fa-fw fa-linux"></i> LAMP 3</h4>
				<p class="list-group-item-text">Legacy LAMP web hosting server (RHEL6)</p>
			</a>
		</div>
	</div>
</div>

{% endblock %}
