<nav aria-label="breadcrumb" class="d-none d-md-block">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><span class="fas fa-fw fa-home"></span> <a href="#" data-click="dir" data-path="">{{root_name}}</a></li>

		{%- for dir in crumbs %}
		<li class="breadcrumb-item{% if loop.last %} active{%endif%}">
			{%- if not loop.last %}<a href="#" data-click="dir" data-path="{{ dir.path }}">{{ dir.name }}</a>
			{%- else %}{{ dir.name }}
			{%- endif %}
		</li>
		{%- endfor %}
	</ol>
</nav>

{% if crumbs|length > 0 %}
<nav class="navbar py-2 px-1 px-md-3 w-100 navbar-light bg-light d-md-none">
	<span data-click="parent" class="navbar-brand mx-2"><i class="fas fa-fw fa-lg fa-angle-up"></i></span>
	<div class="navbar-text mr-auto">{{ (crumbs | last).name }}</div>
</nav>
{% else %}
<div class="p-1"></div>
{% endif %}
