<table id="dir" class="table table-striped table-hover table-nl w-100">
<thead>
	<tr class="d-none d-md-table-row">
		<th class="w-1"></th>
		<th class="w-100">Name</th>
		<th class="d-none d-md-table-cell px-md-4 px-lg-5">Size</th>
		<th class="d-none d-md-table-cell px-md-4 px-lg-5">Modified</th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
</thead>
<tbody>
	{%- for entry in shares -%}
	<tr class="point" data-click="share" data-name="{{entry.name}}">
		<td class="text-center w-1"><span class="fas fa-fw fa-hdd"></span></td>
		<td class="dentry w-100">{{ entry.name}}</td>
		<td class="d-none d-md-table-cell dentry-mtime w-1"></td>
		<td class="d-none d-md-table-cell dentry-mtime w-1"></td>
		<td>{{entry.name}}</td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	{%- endfor -%}
	{%- for entry in dirs -%}
	<tr class="point" data-click="dir" data-ctx="dir" data-icon="fas fa-fw fa-folder" data-name="{{entry.name}}">
		<td class="text-center w-1"><span class="fas fa-fw fa-folder"></span></td>
		<td class="dentry w-100">{{ entry.name}}</td>
		<td class="d-none d-md-table-cell dentry-mtime w-1"></td>
		<td class="d-none d-md-table-cell dentry-mtime w-1"></td>
		<td>.1111{{entry.name}}</td>
		<td>-1</td>
		<td>111adir</td>
		<td>-1</td>
	</tr>
	{%- endfor -%}
	{%- for entry in files -%}
		<tr class="point" data-click="file" data-ctx="file" data-icon="{{entry.icon}} fa-fw" {% if entry.img %}data-img="true" {%endif%} {% if entry.view %}data-view="true"{%endif%} data-mtype="{{entry.mtype}}" data-name="{{entry.name}}" data-mtime="{{entry.mtime}}" data-atime="{{entry.atime}}" data-size="{{entry.size|filesizeformat(binary=True)}}">
		<td class="text-center w-1"><span class="{{ entry.icon }} fa-fw"></span></td>
		<td class="dentry w-100">{{ entry.name}}</td>
		<td class="d-none d-md-table-cell dentry-mtime px-md-4 px-lg-5 w-1">{{ entry.size|filesizeformat }}</td>
		<td class="d-none d-md-table-cell dentry-mtime px-md-4 px-lg-5 w-1">{{ entry.mtime|ts2str }}</td>
		<td>{{ entry.name }}</td>
		<td>{{ entry.mtime }}</td>
		<td>{{ entry.mtyper }}</td>
		<td>{{ entry.size }}</td>
	</tr>
	{%- endfor -%}
</tbody>
